<div document-methodes="">
<!-- <h1 id='titreCompte' class='animated fadeInLeft' >Details du profil</h1>
<div class="tags-container">

  <div class="head_section">
    test
  </div>

</div> -->

<div data-ng-init="initial()">
	<br>
	<br>
	<b>Nom:</b>{{profil.nom}}<br><br>
	<b>Descriptif:</b>{{profil.descriptif}} <br><br>
	<b>Règles :</b> <br><br>
	
	<p ng-repeat="l in tests" regle-style="l"></p>
</div>

 <button type="button" class="grey_btn normal_padding" ng-click="" >Dupliquer le profil</button>
 <button type="button" class="grey_btn normal_padding" ng-click="" >Editer le profil</button>
 <button type="button" class="grey_btn normal_padding" ng-click="" >Partager le profil</button>

</div>
