/* Open Dyslexic font */
@font-face {
    font-family: 'opendyslexicregular';
    src: url('fonts/opendyslexic-regular-webfont.eot');
    src: url('fonts/opendyslexic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opendyslexic-regular-webfont.woff') format('woff'),
         url('fonts/opendyslexic-regular-webfont.ttf') format('truetype'),
         url('fonts/opendyslexic-regular-webfont.svg#opendyslexicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
#canvas {
  display: none;
}
.wrapper_zone{
  width: 1160px;
  margin: 0 auto;
}
/*.wrapper_zone h1 {
  display:block!important;
  position:absolute;
  top:-9999px;
  left:-9999px;
}*/
.no-show {
  font-family: "opendyslexicregular";
  opacity: 0;
}

/* Space out content a bit */
.body-home {
  background: url('images/body_bg.png') no-repeat center top fixed #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

/* Custom page header */
.header_zone{
  background: url(images/header_bg.png) repeat-x 0 bottom #f9f6f7;
  margin-bottom: 22px;
}
.main_menu{
  height: 82px;
}
.main_menu > li{
  display: inline-block;
  border-bottom: 5px solid transparent;
  height: 82px;
  float: left;
}
.main_menu > li.logo{
  background:#f9f9f8;
  border-color:#086f81; 
  width: 205px;
  padding-top: 15px;
  padding-left: 10px;
}
.main_menu > li.last_document{
  background:#faf7f6;
  border-color:#dc4405; 
  width: 405px; 
}
.main_menu > li.last_document a{
  display: block;
  color: #3c3d42;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 18px;
  padding-left: 19px;
  font-family: "helveticaCND";
  padding-right: 70px;
  background: url(images/docs_link.png) no-repeat right 0 transparent;
  height: 100%;
}
.main_menu > li.last_document span{
  display: block;
  text-align: center;
  margin-bottom:5px;
}
.main_menu > li.current_profile{
  background: #f9f6f7;
  border-color: #872651;
  width: 415px;
  padding-top: 20px;
  padding-left: 27px;
  text-transform: uppercase; 
}
.main_menu > li.current_profile label{
  font-family: "helveticaB-CND";
  font-size: 18px;
  margin-right: 20px;
  padding-top: 9px;
  display: block;
  float: left;
}
.main_menu > li.current_profile select{
  width: 215px;
  height: 43px;
  padding-left: 7px;
}
.main_menu > li.actions_menu{
  border-color:#086e80; 
  width: 127px;
  margin-right: 2px; 
  position: relative;
}
.main_menu > li.actions_menu:hover{
	background-color:#075968;
}
.main_menu > li.actions_menu > a{
  color: #fff;
  font-family: "helveticaCND";
  font-size: 16px;
  display: block;
  height: 82px;
  background: url(images/drop_down.png) no-repeat 48px 22px #086e80;
  padding-top: 47px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 5px;
  
     -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.main_menu > li.actions_menu > a:hover{
  text-decoration: none;
  background-color:#075968;
}
.main_menu > li.actions_menu > ul{
  position: absolute;
  right: 0;
  width: 250px;
  z-index: 10;
}
.main_menu > li.actions_menu > ul li{
  background: #086e80;
  border-bottom: 1px solid #fff;
  height: 53px;
  
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.main_menu > li.actions_menu > ul li:hover{
  background-color: #075968 !important;
}
.main_menu > li.actions_menu > ul li a{
  display: block;
  height: 100%;
  font-family: "helveticaCND";
  text-transform: uppercase;
  color: #fff;
  padding-left: 65px;
  padding-top: 17px;
  font-size: 16px;
  background-image: url(images/sub_menu_icons.png);
  background-repeat:no-repeat;
  
    
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.main_menu > li.actions_menu > ul li.my_profils{
  height: 55px;
}
.main_menu > li.actions_menu > ul li.my_profils a{
  padding-top: 16px;
  background-position: 15px 16px;
}
.main_menu > li.actions_menu > ul li.my_profils a:hover{
  background-position: 20px 16px;
}
.main_menu > li.actions_menu > ul li.my_docs{
  height: 55px;
}
.main_menu > li.actions_menu > ul li.my_docs a{
  padding-top: 16px;
  background-position: 15px -47px;
}
.main_menu > li.actions_menu > ul li.my_docs a:hover{
  padding-top: 16px;
  background-position: 20px -47px;
}
.main_menu > li.actions_menu > ul li.my_account{
  height: 57px;
}
.main_menu > li.actions_menu > ul li.my_account a{
  padding-top: 18px;
  background-position: 16px -110px;
}
.main_menu > li.actions_menu > ul li.my_account a:hover{
  padding-top: 18px;
  background-position: 20px -110px;
}
.main_menu > li.actions_menu > ul li.managment{
  height: 57px;
}
.main_menu > li.actions_menu > ul li.managment a{
  padding-top: 19px;
  background-position: 15px -184px;
}
.main_menu > li.actions_menu > ul li.managment a:hover{
  padding-top: 19px;
  background-position: 20px -184px;
}
.main_menu > li.actions_menu > ul li.bookmarklet a{
  padding-top: 19px;
  background-position: 17px -441px;
}
.main_menu > li.actions_menu > ul li.bookmarklet a:hover{
  padding-top: 19px;
  background-position: 22px -441px;
}
.main_menu > li.actions_menu > ul li.signout{
  height: 57px;
}
.main_menu > li.actions_menu > ul li.signout a{
  padding-top: 19px;
  background-position: 15px -352px;
}
.main_menu > li.actions_menu > ul li.signout a:hover{
  padding-top: 19px;
  background-position: 20px -352px;
}

.main_menu > li.actions_menu > ul li.langue{
  padding-top: 12px;
  padding-left: 65px;
  background: url(images/sub_menu_icons.png) no-repeat 15px -266px #086e80;
  height: 57px;
}
.main_menu > li.actions_menu > ul li.langue:hover{
  background-position:20px -266px;
}
.main_menu > li.actions_menu > ul li.langue select{
  width: 166px;
  height: 33px;
  text-transform: uppercase;
  font-family: "helveticaL-CND";
  padding-left: 6px;
}

.main_menu > li.actions_menu > ul li a:hover{
  text-decoration: none;
}
.main_menu > li + li{
  margin-left: 2px;
}
.header {
  background-color:#F9F6F7; 
  min-height: 82px;
}
/* Make the masthead heading the same height as the navigation */
/*.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}*/
.nav{
  padding-top: 10px;
}
.nav .langs a{
  display: inline !important;
  padding: 5px !important;
  font-size: 12px;
}
/* Custom page footer
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
} */

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 0 auto;
  /*width: 1024px;*/
  background: #fff;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Prototypage */


.upload-file {
  margin-bottom: 20px;
}
.tree-images {
  /*min-height: 842px;*/
  background: #455053;
  /*width: 200px;
  height: 842px;*/
  width: 298px;
  height: 100%;
  overflow: auto;
}
/*.tree-images > div {
  height: 813px;
  overflow: scroll;
}*/
.tree-images > h3 {
  font-size: 15px;
  color: #ffffff;
  margin: 0;
  padding:5px;
  border-bottom: 2px solid #fff;
  background: #21A9FF;
}
.tree-images > h3 + .cropped_images + .cropped_images{
  border-top: none;
}
.level-1{
  padding-left: 45px;
}
.level-2{
  padding-left: 90px;
}
.level-3{
  padding-left: 135px;
}
.level-4{
  padding-left: 180px;
}
.level-5{
  padding-left: 205px;
}
.bar-btns select {
  width: 150px;
  display: inline-block;
}
.bar-btns ul {
  list-style: none;
  height: 100px;
  padding: 0;
  position: relative;
  margin-bottom: 0;
}
.bar-btns ul > li ul{
  left: 0;
  position: absolute;
  top: 50px;
  background: none repeat scroll 0 0 #21A9FF;
  height: 50px;
  width: 100%;
}
.bar-btns ul > li ul li{
  color: #fff;
}
.bar-btns ul > li ul li button{
  background: none;
}
.bar-btns ul li{
  display: block;
  width: 130px;
  height: 50px;
  float: left;
}
.bar-btns ul li.type-text{
  width: 280px;
  padding: 10px 0 0 10px;
}

.bar-btns ul li.type-text label{
  color: #000;
  font-weight: normal;
}

.bar-btns ul li.type-text select{
  width: 125px;
}


.bar-btns ul li a{
  padding-top: 15px;
}
.bar-btns ul li button,.bar-btns ul li a{
  background: none repeat scroll 0 0 #fff;
  display: block;
  float: left;
  height: 50px;
  width: 100%;
  border: none;
  color: #000;
  text-decoration: none;

  transition: all 0.2s linear;
/* Safari */
-webkit-transition: all 0.1s linear;
}
.bar-btns ul li button:hover,
.bar-btns ul li button.active,
.bar-btns ul li a:hover,
.bar-btns ul li a.active{
  background: none repeat scroll 0 0 #21A9FF;
  color: #fff;
}
.controles button{
  border: 1px solid grey;
  background: #fff;
}

#add-img{
  background:#21a9ff;
  border: 1px solid grey;
  color: #fff;
} 
#fileToUpload{
  margin-bottom:10px;
} 

.bar-btns {
  text-align: center;
  width: 1010px;
  margin-bottom: 10px;
}
.cropped_images {
  border: 3px solid #00ccff;
  overflow: hidden;
  transition: all 0.2s linear 0.1s;
/* Safari */
-webkit-transition: all 0.2s linear 0.1s;
} 
.cropped_images:hover {
  border: 3px solid red;
  background: aliceblue;
} 
.cropped_images .element {
  float: left;
}   

.cropped_images .textes {
  float: left;
  max-width:300px;
  height:auto;
}

.img-crop {
  max-width: 791px;
}

/* Draw rectangles */
.parent-container-images {
  float: left;
  width: 810px;
  /*height: 842px;*/
  height: 100%;
  margin-right: 13px;
  border: 1px solid #dcdcdc;
  overflow: auto;
}
.images-container {
  position: relative;
  /*min-height: 275px;*/
  /*overflow: scroll;
  max-height: 842px;
  min-height: 100%;*/
  height: 100%;
}

.zones > div {
  position: absolute;
  z-index: 610;
  background: url(images/split-bg.png) repeat 0 0 transparent;
  border: 1px dashed #fff;
}

.zones > div button {
  border: none;
  float: right;
  border-radius: 0;
}

.level-0 .controles {
  display: none;
}

/* Loader */
.loader {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 650;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-image: url(images/loader.GIF);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.adjust-modal-body{
  overflow : hidden;
}
.adjust-well{
  height: 90px;
  text-align: center;

}
#modalContent {
  width: 1000px;

}
#edit-Modal {
  width: 920px;
}

/* Apercu */
/*.doc-apercu */
/*.modal-backdrop {
  display: none;
}*/
.doc-apercu .carousel-caption {
  position: static;
  color: black;
  text-shadow: none;
  width: 650px;
  margin: 0 auto;
}

.doc-apercu .carousel-control {
  height: 200px;
  top: 200px;
  cursor: pointer;
}

.tagInfo {
  list-style: none;
  padding: 0;
  margin: 0;
 margin-left: -39px;
 margin-top: -147px;
}
.tagInfoAdd {
  list-style: none;
  padding: 0;
  margin: 0;
 margin-left: -39px;
 margin-top: -100px;
}
.tag-list{
  clear: both;
}
.tag-list .action{
  width: 102px !important;
}
.show_zone{
  margin-bottom:10px;
}
.show_zone > p {
  border: 1px solid #bebebe;
  padding: 17px 20px 0px 20px;
  height: 76px;
  background: #fff;
  overflow-y: auto;
  line-height: 18px;
  font-weight: normal;
  width: 440px;
  margin-bottom: 0;
}

/* ====> Font-family setting styles <====*/
.shown-text[data-font="Arial"]{
  font-family: arial;
}
.shown-text[data-font="Dyslexic"]{
  font-family: "opendyslexicregular";
}
.shown-text[data-font="Times New Roman"]{
  font-family: "Times New Roman";
}

/* ====> Font-size setting styles <====*/
.shown-text[data-size="eight"]{
  font-size: 8px;
}
.shown-text[data-size="ten"]{
  font-size: 10px;
}
.shown-text[data-size="twelve"]{
  font-size: 12px;
}
.shown-text[data-size="fourteen"]{
  font-size: 14px;
}
.shown-text[data-size="sixteen"]{
  font-size: 16px;
}
.shown-text[data-size="eighteen"]{
  font-size: 18px;
}
.shown-text[data-size="tweenty"]{
  font-size: 20px;
}

/* ====> Font line-height setting styles <====*/
.shown-text[data-lineheight="ten"]{
  line-height: 10px;
}
.shown-text[data-lineheight="fourteen"]{
  line-height: 14px;
}
.shown-text[data-lineheight="eighteen"]{
  line-height: 18px;
}
.shown-text[data-lineheight="tweentytwo"]{
  line-height: 22px;
}
.shown-text[data-lineheight="tweentysix"]{
  line-height: 26px;
}
.shown-text[data-lineheight="thirty"]{
  line-height: 30px;
}
.shown-text[data-lineheight="thirtyfive"]{
  line-height: 35px;
}
.shown-text[data-lineheight="forty"]{
  line-height: 40px;
}
.shown-text[data-lineheight="fortyfive"]{
  line-height: 45px;
}
/* ====> Font-weight setting styles <====*/
.shown-text[data-weight="Bold"]{
  font-weight: bold;
}
.shown-text[data-weight="Normal"]{
  font-weight: normal;
}

.doc-apercu{
  min-height: 630px;
}
.doc-apercu .carousel-control.left{
  border-radius: 0 50% 50% 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.doc-apercu .carousel-control.right{
  border-radius: 50% 0 0 50%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
.doc-apercu .carousel-control span{
  color:#21A9FF;
  font-size: 70px;
  height: 44px;
  margin-top: -48px;
}
textarea.desc-zone{
  height: 80px;
}
#niveau{
  margin-bottom: 15px;
}
#niveauEdit{
  margin-bottom: 15px;
}
.sub-menus {
  display: none;
}
.required {
 color:red;
}
#ocr-block {
  display: block;
}
.show_profil{
  margin-bottom: 10px;
}

.save-text {
  margin: 0 0 5px 0;
}

.images-container .text-oceriser {
  text-align: center;
}

.images-container .text-oceriser iframe {
  width: 100% !important;
}

/*#ProfileButtons {
  margin-top: 50px;
}*/

#addValidationButton {
  margin-left: -39px;
}

#addGlobalContainer {
  border: 1px solid;
} 

#global_container.apercu_page{
  padding-right: 0 !important;
}

#editValidationButton {
  margin-left: -38px;
}

#alignModifiedWidgets {
  margin-left: 624px;
  margin-top: 50px;
}

.text-slides p {
  width: 650px;
}

.text-slides span {
  word-wrap: none;
}

.plan-controls {
  text-align: center;
  margin-bottom: 20px;
}

.plan {
  list-style: none;
  padding:0;
}
.carousel-inner{
  min-height: 800px;
}
.fixed_menu{
  /*position: fixed;
  top: 140px;
  right: 120px;*/
  overflow: hidden;
  width: 250px;
  z-index: 9;
  position: absolute;
  top: 0;
  right: 0;
}
.fixed_menu.attached{
  position: fixed;
  top: 5px;
  right: 96px;
}
.menu_wrapper{
  width: 300px;
  margin-left: 198px;
  background: url('images/apercu_sidebar/shadow.png') no-repeat 28px center transparent;
  overflow: hidden;
  position: relative;
}
.open_menu{
  display: block;
  width: 100%;
  height: 41px;
  border: 1px solid #5fc1d2;
  background: url(images/menu_icn.png) no-repeat 13px center #009cb8;
  outline: none;
  z-index: 10;
  position: absolute;
  top: 14px;
  left: 0;
  font-family: "helveticaB-CND";
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding-left: 66px;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.open_menu:hover{
  background-color:#00788e;
  
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.open_menu + ul{
  background-color: #fff;
  float: left;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  width: 209px;
  border: 1px solid #bababa;
  border-right: none;
  margin-left: 41px;
  padding-top: 71px;
}
.open_menu + ul li{
  margin-bottom: 7px;
}
.open_menu + ul li.devider{
  margin-bottom: 7px;
  height: 1px;
  background: #c1c1c1;
}
.open_menu + ul li a{
  font-family: "helveticaCND";
  display: block;
  color: #009cb8;
  padding:5px 0 0 48px;
  font-size: 16px;
  text-transform: uppercase;
  height: 30px;
  background-position: 7px center;
  background-repeat: no-repeat;

  
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.open_menu + ul li a:hover{
  color: #00788e;
}
.open_menu + ul li a.plan{
  background-image: url('images/apercu_sidebar/plan.png');
}
.open_menu + ul li a.forward{
  background-image: url('images/apercu_sidebar/next.png');
}
.open_menu + ul li a.backward{
  background-image: url('images/apercu_sidebar/prev.png');
}
.open_menu + ul li a.fast-forward{
  background-image: url('images/apercu_sidebar/last.png');
}
.open_menu + ul li a.fast-backward{
  background-image: url('images/apercu_sidebar/first.png');
}
.open_menu + ul li a.copy{
  background-image: url('images/apercu_sidebar/copy.png');
}
.open_menu + ul li a.edit{
  background-image: url('images/apercu_sidebar/restructer.png');
}
.open_menu + ul li a.share_apercu{
  background-image: url('images/apercu_sidebar/share_apercu.png');
}
.open_menu + ul li a.print_apercu{
  background-image: url('images/apercu_sidebar/print_apercu.png');
}
.open_menu + ul li a:hover{
  text-decoration: none;
}

@media print {
  .carousel-control{
    display: none;
  }
  .carousel-inner > .item {
    display: block !important;
    position: static;
    page-break-after:always;
    border: 2px dashed #000;
  }
  .nav,.btn,a {
    display: none;
  }
}

.adaptPage {
  margin-top: -44px;
}

.centering {
  text-align: center;
}

input:invalid {
  box-shadow:none;
}

#deleteModal .reset_btn {
  padding: 8px 28px 4px 28px;
}

.level {
  color: rgb(0,0,0);
}
.level:hover{
  color: rgb(0,0,0);
}
.level1 {
  margin-left: 0px;
}
.level2 {
  margin-left: 30px;
}
.level3 {
  margin-left: 60px;
}
.level4 {
  margin-left: 90px;
}
.level5 {
  margin-left: 120px;
}
