/* Open Dyslexic font */
@font-face {
    font-family: 'opendyslexicregular';
    src: url('fonts/opendyslexic-regular-webfont.eot');
    src: url('fonts/opendyslexic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opendyslexic-regular-webfont.woff') format('woff'),
         url('fonts/opendyslexic-regular-webfont.ttf') format('truetype'),
         url('fonts/opendyslexic-regular-webfont.svg#opendyslexicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Space out content a bit */
.body-home {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url('images/dotted-bg.jpg') repeat 0 0 #E7E7E7;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.nav{
  padding-top: 10px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 0 auto;
    width: 1024px;
    background: #fff;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Prototypage */
.container {
  max-width: 100% !important;
  width: 1040px;
  background-color: #ffffff;
  margin: 0 auto;

  -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.72);
-moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.72);
box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.72);

-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.upload-file {
  margin-bottom: 20px;
}
.tree-images {
  min-height: 842px;
  background: #646464;
  width: 200px;
  height: 842px;
}
.tree-images > div {
  height: 813px;
  overflow: scroll;
}
.tree-images > h3 {
  font-size: 15px;
  color: #ffffff;
  margin: 0;
  padding:5px;
  border-bottom: 2px solid #fff;
  background: #21A9FF;
}
.tree-images > h3 + .cropped_images + .cropped_images{
  border-top: none;
}
.level-1{
  padding-left: 45px;
}
.level-2{
  padding-left: 90px;
}
.level-3{
  padding-left: 135px;
}
.level-4{
  padding-left: 180px;
}
.level-5{
  padding-left: 205px;
}
.bar-btns select {
  width: 150px;
  display: inline-block;
}
.bar-btns ul {
  list-style: none;
  height: 100px;
  padding: 0;
  position: relative;
  margin-bottom: 0;
}
.bar-btns ul > li ul{
  left: 0;
  position: absolute;
  top: 50px;
  background: none repeat scroll 0 0 #21A9FF;
  height: 50px;
  width: 100%;
}
.bar-btns ul > li ul li{
  color: #fff;
}
.bar-btns ul > li ul li button{
  background: none;
}
.bar-btns ul li{
  display: block;
  width: 130px;
  height: 50px;
  float: left;
}
.bar-btns ul li.type-text{
  padding: 10px 0 0 10px;
}
.bar-btns ul li a{
  padding-top: 15px;
}
.bar-btns ul li button,.bar-btns ul li a{
  background: none repeat scroll 0 0 #fff;
  display: block;
  float: left;
  height: 50px;
  width: 100%;
  border: none;
  color: #000;
  text-decoration: none;

  transition: all 0.2s linear;
/* Safari */
-webkit-transition: all 0.1s linear;
}
.bar-btns ul li button:hover,
.bar-btns ul li button.active,
.bar-btns ul li a:hover,
.bar-btns ul li a.active{
  background: none repeat scroll 0 0 #21A9FF;
  color: #fff;
}
.controles button{
  border: 1px solid grey;
  background: #fff;
}

#add-img{
  background:#21a9ff;
  border: 1px solid grey;
  color: #fff;
} 
#fileToUpload{
  margin-bottom:10px;
} 

.bar-btns {
  text-align: center;
  width: 1010px;
  margin-bottom: 10px;
}
.cropped_images {
  border: 3px solid #00ccff;
  overflow: hidden;
  transition: all 0.2s linear 0.1s;
/* Safari */
-webkit-transition: all 0.2s linear 0.1s;
} 
.cropped_images:hover {
  border: 3px solid red;
  background: aliceblue;
} 
.cropped_images .element {
  float: left;
}   

.cropped_images .textes {
  float: left;
  max-width:300px;
  height:auto;
}

.img-crop {
  max-width: 791px;
}

/* Draw rectangles */
.parent-container-images {
  float: left;
  width: 810px;
  height: 842px;
  background: #ebe7d2;
}
.images-container {
  position: relative;
  /*min-height: 275px;*/
  border: 2px solid #e1e1e1;
  overflow: scroll;
  max-height: 842px;
  min-height: 100%;
}

.zones > div {
  position: absolute;
  z-index: 610;
  background: url(images/split-bg.png) repeat 0 0 transparent;
  border: 1px dashed #fff;
}

.zones > div button {
  border: none;
  float: right;
  border-radius: 0;
}

.level-0 .controles {
  display: none;
}

/* Loader */
.loader {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 650;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-image: url(images/loader.GIF);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.adjust-modal-body{
  overflow : hidden;
}
.adjust-well{
  height: 90px;
  text-align: center;

}
#modalContent {
  width: 1000px;

}
#edit-Modal {
  width: 1000px;
}

/* Aperï¿½u */
/*.doc-apercu */
/*.modal-backdrop {
  display: none;
}*/
.doc-apercu .carousel-caption {
  position: static;
  color: black;
  text-shadow: none;
  width: 650px;
  margin: 0 auto;
}

.doc-apercu .carousel-control {
  height: 200px;
  top: 200px;
  cursor: pointer;
}

.tagInfo {
  list-style: none;
  padding: 0;
  margin: 0;
 margin-left: -39px;
 margin-top: -96px;
}
.tag-list{
  clear: both;
}
.tag-list .action{
  width: 102px !important;
}
.show_zone > p {
  border:2px solid #e1e1e1;
  padding:20px;
  height: 120px;
  background: #fff;
  overflow-y: scroll;
  line-height: 25px;
  font-weight: normal;
  margin-left: 115px;
  margin-right: 57px;
   
  -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
         -ms-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
             transition: all 0.5s ease-out;
}

/* ====> Font-family setting styles <====*/
.shown-text[data-font="Arial"]{
  font-family: arial;
}
.shown-text[data-font="Dyslexic"]{
  font-family: "opendyslexicregular";
}
.shown-text[data-font="Times New Roman"]{
  font-family: "Times New Roman";
}

/* ====> Font-size setting styles <====*/
.shown-text[data-size="eight"]{
  font-size: 8px;
}
.shown-text[data-size="ten"]{
  font-size: 10px;
}
.shown-text[data-size="twelve"]{
  font-size: 12px;
}
.shown-text[data-size="fourteen"]{
  font-size: 14px;
}
.shown-text[data-size="sixteen"]{
  font-size: 16px;
}
.shown-text[data-size="eighteen"]{
  font-size: 18px;
}
.shown-text[data-size="tweenty"]{
  font-size: 20px;
}

/* ====> Font line-height setting styles <====*/
.shown-text[data-lineheight="ten"]{
  line-height: 10px;
}
.shown-text[data-lineheight="fourteen"]{
  line-height: 14px;
}
.shown-text[data-lineheight="eighteen"]{
  line-height: 18px;
}
.shown-text[data-lineheight="tweentytwo"]{
  line-height: 22px;
}
.shown-text[data-lineheight="tweentysix"]{
  line-height: 26px;
}
.shown-text[data-lineheight="thirty"]{
  line-height: 30px;
}
.shown-text[data-lineheight="thirtyfive"]{
  line-height: 35px;
}
.shown-text[data-lineheight="forty"]{
  line-height: 40px;
}
.shown-text[data-lineheight="fortyfive"]{
  line-height: 45px;
}
/* ====> Font-weight setting styles <====*/
.shown-text[data-weight="Bold"]{
  font-weight: bold;
}
.shown-text[data-weight="Normal"]{
  font-weight: normal;
}

.text-muted img{
  width: 100px;
}

.doc-apercu{
  min-height: 630px;
}
.doc-apercu .carousel-control.left{
  border-radius: 0 50% 50% 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.doc-apercu .carousel-control.right{
  border-radius: 50% 0 0 50%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
.doc-apercu .carousel-control span{
  color:#21A9FF;
  font-size: 70px;
  height: 44px;
  margin-top: -48px;
}
textarea.desc-zone{
  height: 80px;
}
#niveau{
  margin-bottom: 15px;
}
#niveauEdit{
  margin-bottom: 15px;
}
.sub-menus {
  display: none;
}
.required {
 color:red;
}
#ocr-block {
  display: block;
}
.show_profil{
  margin-bottom: 10px;
}

.save-text {
  margin: 5px 0 20px 0;
}

.images-container .text-oceriser {
  text-align: center;
}

#ProfileButtons {
  margin-top: 36px;
}

#addValidationButton {
  margin-left: -39px;
}

#addGlobalContainer {
  border: 1px solid;
} 

#editValidationButton {
  margin-left: -38px;
}

#alignModifiedWidgets {
  margin-left: 624px;
  margin-top: 50px;
}

.text-slides p {
  width: 650px;
}

.text-slides span {
  word-wrap: none;
}

.plan-controls {
  text-align: center;
  margin-bottom: 20px;
}

.plan {
  list-style: none;
}

.plan li:nth-child(n) a {
  color: #066ED9;
}

.plan li:nth-child(2n) a {
  color: #D90629;
}

.plan li:nth-child(3n) a {
  color: #4BD906;
}
@media print {
  .carousel-control{
    display: none;
  }
  .carousel-inner > .item {
    display: block !important;
    position: static;
    page-break-after:always;
    border: 2px dashed #000;
  }
  .nav,.btn,a {
    display: none;
  }
}