@font-face {
    font-family: 'helveticaCND';
    src: url('fonts/helvetica/HalvettCondensed.eot');
    src: url('fonts/helvetica/HalvettCondensed.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica/HalvettCondensed.woff') format('woff'),
         url('fonts/helvetica/HalvettCondensed.ttf') format('truetype'),
         url('fonts/helvetica/HalvettCondensed.svg#HalvettCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaB-CND';
    src: url('fonts/helvetica/HelveticaNeueLTPro-BdCn.eot');
    src: url('fonts/helvetica/HelveticaNeueLTPro-BdCn.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica/HelveticaNeueLTPro-BdCn.woff') format('woff'),
         url('fonts/helvetica/HelveticaNeueLTPro-BdCn.ttf') format('truetype'),
         url('fonts/helvetica/HelveticaNeueLTPro-BdCn.svg#HelveticaNeueLTPro-BdCn') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaL-CND';
    src: url('fonts/helvetica/HelveticaNeueLTPro-LtCn.eot');
    src: url('fonts/helvetica/HelveticaNeueLTPro-LtCn.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica/HelveticaNeueLTPro-LtCn.woff') format('woff'),
         url('fonts/helvetica/HelveticaNeueLTPro-LtCn.ttf') format('truetype'),
         url('fonts/helvetica/HelveticaNeueLTPro-LtCn.svg#HelveticaNeueLTPro-LtCn') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
   font-family: 'HelveticaNHvCn';
   src: url('fonts/helvetica/HelveticaNeueLTPro-HvCn.eot?') format('eot'),
        url('fonts/helvetica/HelveticaNeueLTPro-HvCn.otf')  format('opentype'),
        url('fonts/helvetica/HelveticaNeueLTPro-HvCn.woff') format('woff'),
        url('fonts/helvetica/HelveticaNeueLTPro-HvCn.ttf')  format('truetype'),
        url('fonts/helvetica/HelveticaNeueLTPro-HvCn.svg#HelveticaNeueLTPro-HvCn') format('svg');
}
::-webkit-input-placeholder {
   color: #3c3d42;
   opacity: 0.8 !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #3c3d42;
   opacity: 0.8 !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #3c3d42;
   opacity: 0.8 !important;  
}

:-ms-input-placeholder {  
   color: #3c3d42; 
   opacity: 0.8 !important; 
}
.first_container{
	width: 1159px;
	margin: 0 auto;
}
.breadcrumb_items{
	width: 1159px;
	margin: 0 auto;
	border: 1px solid #d2d2d2;
	border-bottom: 0;
	background: #fff;
	padding: 10px 0 10px 20px;
}
.breadcrumb_items li{
	display: inline-block;
}
.breadcrumb_items li:after{
	display: inline-block;
	content: "/";
	margin-left: 7px;
	font-family: "helveticaB-CND";
}
.breadcrumb_items li:last-child:after{
	content: " ";
}
.breadcrumb_items li a{
	color: #3e4647;
	font-family: "helveticaCND";
	font-size: 14px;
	text-decoration: none;
	text-transform: none;
}
.breadcrumb_items li:first-child a{
	font-family: "helveticaB-CND";
}
.page_authentification .container {
	width: 802px;
	padding: 22px 10px 20px 18px;
}
.container {
	max-width: 100% !important;
	width: 1159px;
	margin: 0 auto;
	padding: 11px 10px;
	border: 1px solid #d2d2d2;
	background: #fff;

	-webkit-transition: height 0.8s ease;
	-moz-transition: height 0.8s ease;
	-ms-transition: height 0.8s ease;
	-o-transition: height 0.8s ease;
	transition: height 0.8s ease;
}
.head_section{
	/*border: 1px solid #dddddd;*/
	border-bottom: 0;
	overflow: hidden;
	padding-bottom: 20px;
}
h1{
	font-family: "HelveticaNHvCn";
	font-size: 26px;
	text-transform: uppercase;
	padding-top: 12px;
	padding-bottom: 9px;
	letter-spacing: 1px;
	color: #872651;
	padding-left: 20px;
}
table{
	width: 100%;
	border:1px solid #dddddd;
}
table th{
	height: 60px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	background: url('images/table_head-border.jpg') no-repeat right center #3c3d42;
	font-family: "helveticaCND";
	text-transform: uppercase;
	font-size: 14px;
	border-right: 0;
}
table th:last-child{
	background-image: none;
}

.serach_field{
	background: url(images/search_field.png) repeat top right #fff;
	border: 1px solid #bebebe;
	width: 325px;
	height: 44px;
	color: #000;
	padding-left: 14px;
	padding-top: 7px;
	margin-left: 5px;
	font-family: "helveticaCND";
}
.grey_btn{
	border: none;
	background-color: #3c3d42;
	color: #fff;
	font-size: 18px;
	font-family: "helveticaB-CND";
	text-transform: uppercase;
	padding:9px 16px 9px 53px;
	
   	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.grey_btn:hover{
	background-color:#28292c !important;
}
.add_profile{
	background-image: url(images/add_profile.png);
	background-repeat: no-repeat;
	background-position: 10px 5px;
	margin-right: 5px;
}

.add_document{
	background-image: url(images/add_document.png);
	background-repeat: no-repeat;
	background-position: 11px 7px;
	margin-right: 5px;
}
table .action_zone{
	width: 106px;
	padding: 0;
}
table tr:nth-child(odd){
	background: #f7f6f6;
}
table tr:nth-child(even){
	background: #fff;
}
table tr td{
	border-right:1px solid #dddddd;
	padding-top:28px;
	padding-bottom:28px;
	padding-left: 20px; 
	padding-right: 20px;
	font-family: "helveticaCND";
	font-size: 15px;
	color: #3c3d42;
}
table tr td.profile_name{
	width: 188px;
}
table tr td.profil_desc{
	width: 664px;
}
table tr td:last-child{
	border-right:0;
}
.action_area{
	position: absolute;
	width: 105px;
}
.action_btn{
	width: 33px;
	height: 33px;
	background: url(images/list_action-arrow.png) no-repeat center 15px #3c3d42;
	border: none;

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}
.action_btn:hover,.action_btn.active{
	background-color: #151616;
}
.action_list{
	display: none;
	position: absolute;
	top: 70px;
	left: -222px;
	background: #3c3d42;
	padding: 0 4px;
	z-index: 10;
}
.action_list:before{
	content: " ";
	display: block;
	position: relative;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 8px solid #3c3d42;
	top: -7px;
	left: 261px;
}
.action_list li{
	width: 302px;
	height: 50px;
	border-bottom: 1px solid #a1a1a1;
	color: #fff;
	text-align: left;
	margin-bottom: 6px;
}
.action_list li:last-child{
	border-bottom:none;
	margin-bottom: 0;
}
.action_list li a{
	display: block;
	height: 100%;
	color: #fff;
	padding-left: 70px;
	padding-top: 11px;
	font-size: 16px;
	background: url('images/action.png') no-repeat 0 0 transparent;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.action_list li a:hover{
	text-decoration: none;
	color: #f2f2f2;
}
.action_list li.setting_item a{
	background-position: 8px 5px;
}
.action_list li.duplicating_item a{
	background-position: 8px -74px;
}
.action_list li.removing_item a{
	background-position: 10px -149px;
}
.action_list li.share_item a{
	background-position: 9px -226px;
}

.action_list li.setting_item a:hover{
	background-position: 13px 5px;
}
.action_list li.duplicating_item a:hover{
	background-position: 13px -74px;
}
.action_list li.removing_item a:hover{
	background-position: 15px -149px;
}
.action_list li.share_item a:hover{
	background-position: 14px -226px;
}

#modalContent {
	width: 920px;
}

.modal-content{
	box-shadow: 0 0 0 transparent;
	border-radius: 0;
	padding: 0 20px 20px 28px;
}

.modal-title{
	font-family: "HelveticaNHvCn";
	font-size: 27px;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 10px;
	letter-spacing: 0.5px;
	color: #872651;
	padding-left: 0;
}
.modal-header{
	position: relative;
	padding: 0;
	border-bottom: 1px solid #3d3d3d;
}
.modal-header .close{
	position: absolute;
	background: url('images/popin_close.png') no-repeat 0 0 transparent;
	width: 62px;
	height: 65px;
	right: -20px;
	top: 3px;
	opacity: 1;
	font-size: 0;
}
.modal-body{
	padding: 0;
}
.modal-body fieldset{
	padding-top: 7px;
	padding-bottom: 4px;
	border-bottom: 1px solid #3d3d3d;
	overflow: hidden;
}
.modal-body fieldset + fieldset{
	padding-bottom: 19px;
}
.modal-body fieldset + fieldset h5{
	margin-bottom: 9px;
}
.modal-body h5{
	font-size: 21px;
	font-family: "helveticaCND";
	margin-bottom: 15px;
}
.modal-body h5 span{
	font-family: "helveticaL-CND";
	font-style: italic;
}
.modal-body fieldset .controls_zone{
	padding-left: 20px;
	overflow: hidden;
}
.modal-body label{
	font-family: "helveticaB-CND";
	font-size: 15px;
	padding-top: 10px;
	min-width: 103px;
	float: left;
}
.modal-body label span.required{
	color: #a20606;
	font-size: 16px;
}
.modal-body fieldset input{
	background: url('images/dotted_bg.png') repeat 0 0 transparent;
	border: 1px solid #bebebe;
	font-family: "helveticaCND";
	font-size: 15px;
	width: 285px;
	height: 33px;
	padding-left: 15px;
	padding-top: 3px;
}
.modal-body select{
	width: 237px;
	height: 33px;
	padding-left: 8px;
	text-transform: capitalize;
}
.regles_area{
	border: 1px solid #aeaeae;
	overflow: hidden;
}
.regles_area .regles-head_area{
	border-bottom: 1px solid #aeaeae;
	overflow: hidden;
	background: #f4f4f4;
	padding-top: 13px;
	height: 57px;
	position: relative;
}
.regles_area .regles-head_area .blocker{
	position: absolute;
	top: 0;
	width: 100%;
	background: url('images/blocker_bg.png') repeat 0 0 transparent;
	height: 100px;
	z-index: 3;
}
.regles_area .regles-head_area label{
	padding-top: 6px;
}
.regles-body_area{
	padding-top: 16px;
	padding-right: 19px;
	overflow: hidden;
	margin-bottom: 7px;
}
.regles-body_area .controls_zone{
	margin-bottom: 7px;
}
.regles_exists ul{
	overflow: hidden;
	width: 440px;
}
.regles_exists ul li{
	float: left;
	overflow: hidden;
	margin-right: 12px;
	margin-bottom: 10px;
}
.regles_exists ul li:nth-child(2n+2){
	margin-right: 0;
}
.regles_exists ul li .label_action{
	background: url('images/applicated_tag.png') no-repeat 5px 3px #01acc0;
	display: block;
	width: 180px;
	height: 33px;
	font-size: 14px;
	color: #fff;
	font-family: "helveticaCND";
	padding: 7px 3px 0 26px;
	float: left;
	margin-right: 1px;
}
.regles_exists.editing_tag ul li .label_action{
	width: 146px;
}
.regles_exists ul li .label_action.selected_label{
	background-color: #00626e;
}
.regles_exists ul li .delete_tag{
	width: 33px;
	height: 33px;
	background: url('images/delete_tag.png') no-repeat 9px 8px #fff;
	display: inline-block;
	float: left;
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #ababab;
	border-bottom: 1px solid #ababab;
	text-decoration: none;
}
.regles_exists ul li .set_tag{
	margin-right: 1px;
	width: 33px;
	height: 33px;
	background: url('images/set_tag.png') no-repeat 3px 6px #fff;
	display: inline-block;
	float: left;
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #ababab;
	border-bottom: 1px solid #ababab;
	text-decoration: none;
}
.regles_exists ul li .delete_tag:hover{
	text-decoration: none;
}
.validation_regles{
	text-align: right;
	border-top: 1px solid #b6b6b6;
	margin: 0 20px;
	padding-top: 13px;
	padding-bottom: 11px;
}
.grey_btn.normal_padding{
	padding-left: 16px;
	padding-bottom: 5px;
	font-size: 17px;
}
.reset_btn{
	border: 1px solid #aeaeae;
	background-color: #ededed;
	color: #3c3d42;
	font-size: 17px;
	font-family: "helveticaB-CND";
	text-transform: uppercase;
	padding:8px 48px 4px 48px;
	margin-right: 30px;
}
.customSelect{
	background: url('images/select_bg.png') no-repeat right -4px #fff;
	border: 1px solid #adadad;
	height: 33px;
	color: #3c3d42;
	font-size: 15px;
	font-family: "helveticaL-CND";
	padding-left: 10px;
	padding-top: 5px;
	text-transform: none;
	width: 239px;
}

select:focus + .customSelect{
	border: 1px solid #000;
}
.current_profile .customSelect{
	background-position: right 0px;
	height: 43px;
	width: 215px;
	padding-top: 11px;
}

.customSelect .customSelectInner{
	display: block !important;
	width: auto !important;
}
.langue .customSelect{
	width: 166px;
}
option{
	background: #fafafa;
}

.page_authentification h2{
	font-size:20px;
	font-family: "helveticaB-CND";
	color: #414243;
	margin-bottom: 37px;
	line-height: 23px;
}
.page_authentification h2 span{
	font-size:18px;
	font-family: "helveticaCND";
	color: #086e80;
	text-transform: none;
}
.page_authentification #loginbox h2{
	margin-bottom: 30px;
}
.page_authentification .form_container{
	padding-left:136px;
	padding-right:127px;
	margin-bottom: 13px;
}
.page_authentification .form_container .control_group
,.form_container .control_group{
	overflow: hidden;
	clear: both;
	margin-bottom:15px;
}
.page_authentification .form_container .control_group.last{
	margin-bottom:30px;
}
.page_authentification .form_container .control_group label
,.globalFieldStyle .control_group label,#shareModal .control_group label{
	width: 135px;
	padding-right: 10px;
	padding-left: 30px;
	display: block;
	float: left;
	min-height: 34px;
	color: #fff;
	padding-top: 9px;
	font-family: "helveticaCND";
	text-transform: uppercase;
	font-size: 13px;
	background-color: #5f6162;
	background-position: 9px center; 
	background-repeat: no-repeat;
	margin: 0;
	position: relative;
}
.page_authentification .form_container .control_group label.two_lignes, label.two_lignes{
	height: 34px;
	padding-top: 5px;
	line-height: 13px;
}
 label.without_icn{
 	padding-left: 10px !important;
 }
.page_authentification .form_container .control_group label:after
,.globalFieldStyle .control_group label:after,#shareModal .control_group label:after{
	content: " ";
	display: block;
	position: absolute;
	right: -4px;
	top: 50%;
	margin-top: -3px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 3.5px 0 3.5px 4px;
	border-color: transparent transparent transparent #5f6162;

}
.page_authentification .form_container .control_group label#label_user,#label_name_etap-one,#label_fname_etap-one{
	background-image:url('images/user_icn.png');  
}
.page_authentification .form_container .control_group label#label_mdp,#label_pwd_etap-one,#label_comfpsw_etap-one,.label_keys-icn{
	background-image:url('images/pwd_icn.png');  
}
#label_email_etap-one{
	background-image:url('images/mail.png');  
}
.page_authentification .form_container .control_group input
,.globalFieldStyle .control_group input,#shareModal .control_group input{
	background: url('images/dotted_bg.png') repeat 0 0 #fff;
	float: left;
	height: 34px;
	border: 1px solid #bebebe;
	border-left: none;
	width: 373px;
	padding-left: 15px;
	font-family: "helveticaCND";
	font-size: 14px;
}

.btn_simple {
	border: none;
	color: #fff;
	font-size: 16px;
	font-family: "helveticaCND";
	text-transform: uppercase;
	padding-top: 8px;
	padding-bottom: 4px;
	display: inline-block;
	width: 156px;
	text-align: center;
	cursor: pointer;
}
.choiceWorkSpace .btn_simple{
	width: auto;
}
.btn_simple.blue {
	background-color: #086e80;
}
.btn_simple.light_blue {
	background-color: #009cb8;
	border: 1px solid transparent;


	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.btn_simple.light_blue:hover {
	background-color: #086E80;
}
.modal .light_bluehead{
	color: #009cb8;
}
/*.btn_simple.normal_padding {
	padding: 6px 30px 3px 30px;
}*/
/*.btn_simple.much_padding {
	padding: 6px 70px 3px 70px;
}*/
.much_padding{
	padding: 9px 16px !important;
}
.page_authentification.blue {
	font-size: 16px;
}
.black_link{
	font-size: 16px;
	color: #343c48;
	background: url('images/link_bull.png') no-repeat 0 5px transparent;
	font-family: "helveticaCND";
	padding-left: 18px;
	text-decoration: underline;
	display: inline-block;
}
.black_link:hover{
	color: #086e80;
}
.green_link{
	font-size: 18px;
	color: #086e80;
	font-family: "helveticaCND";
	text-decoration: underline;
}

/* Steps progress styles*/

.steps_progress{
	margin-left: 2px;
	margin-bottom: 44px;
}
.steps_progress ul li{
	display: inline-block;
	color: #5f6162;
	font-family: "helveticaCND";
	font-size: 14px;
	margin-left: 54px;
	text-transform: uppercase;
	letter-spacing: 0.25px;


	-webkit-transition: all 3s ease;
	-moz-transition: all 3s ease;
	-ms-transition: all 3s ease;
	-o-transition: all 3s ease;
	transition: all 3s ease;
}
.steps_progress ul li + li{
	margin-left: 104px;
}
.steps_progress ul li + li + li{
	margin-left: 76px;
}
.steps_progress ul li + li + li + li{
	margin-left: 50px;
}
.steps_progress[data-step='step_one'] .progress_item{
	width: 99px;
}
.steps_progress[data-step='step_one'] ul li:first-child{
	font-family: "helveticaB-CND";
	color: #009cb8;
}
.steps_progress[data-step='step_two'] ul li:nth-child(1)
,.steps_progress[data-step='step_two'] ul li:nth-child(2){
	font-family: "helveticaB-CND";
	color: #009cb8;
}
.steps_progress[data-step='step_three'] ul li:nth-child(1)
,.steps_progress[data-step='step_three'] ul li:nth-child(2)
,.steps_progress[data-step='step_three'] ul li:nth-child(3){
	font-family: "helveticaB-CND";
	color: #009cb8;
}
.steps_progress[data-step='step_four'] ul li:nth-child(1)
,.steps_progress[data-step='step_four'] ul li:nth-child(2)
,.steps_progress[data-step='step_four'] ul li:nth-child(3)
,.steps_progress[data-step='step_four'] ul li:nth-child(4){
	font-family: "helveticaB-CND";
	color: #009cb8;
}
.steps_progress[data-step='step_two'] .progress_item{
	width: 292px;
}
.steps_progress[data-step='step_three'] .progress_item{
	width: 484px;
}
.steps_progress[data-step='step_four'] .progress_item{
	width: 100%;
}
.steps_bar{
	background-color: #5f6162;
	position: relative;
	height: 40px;
	overflow: hidden;
}
.steps_bar .steps_mask{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.progress_item{
	background-color: #009cb8;
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;

	-webkit-transition: width 2s ease;
	-moz-transition: width 2s ease;
	-ms-transition: width 2s ease;
	-o-transition: width 2s ease;
	transition: width 2s ease;
}

.modal_content-text{
	padding-top:30px;
	padding-bottom:40px;
	font-size: 15px;
	line-height: 18px;
	font-family: "helveticaCND";
	text-align: justify;
}
.modal-dialog.bigger{
	width: 680px;
}
.modal-dialog.biggest{
	width: 830px;
}
.info_txt{
	padding-top: 24px;
	font-size: 15px;
	line-height: 20px;
	font-family: "helveticaCND";
}
.info_txt p{
	text-align: justify;
}
.info_txt .text_left{
	text-align: left;
}
.info_txt {
	text-align: left;
}
a.btn_simple:hover{
	color: #fff;
	text-decoration: inherit;
}
.box{
	padding-right: 8px;
}
.much-btmargin{
	margin-bottom:200px;
}



.footer{
	padding-top: 25px;
}
.footer p{
	text-align: center;
	font-size: 14px;
	color: #3c3d42;
	font-family: "helveticaCND";
	letter-spacing: -0.1px;
}
.alert{
    border: medium none;
    font-family: "helveticaCND";
    margin-bottom: 9px;
    padding:0;
    background: none;
    margin-left: 10px;
    border-radius: 0;
    padding-top: 2px;
}

.dark_green{
	color: #086E80;
}

.normal_padding {
    font-size: 17px;
    padding-bottom: 5px;
    padding-left: 16px;
}
.header_area{
	clear: both;
	overflow: hidden;
}
.doc_save{
	margin-right: 20px;
}
.doc_resizing{
	width: 35px;
	height: 35px;
	background: url('images/resize_icn.png') no-repeat center 10px #009CB8;
	border: none;


	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.doc_resizing.active{
	background-position:center -20px;
	background-color: #086E80;
}
.submit_document{
	display: none;
}

.workspace_tools{
	padding: 10px;
	border-bottom: 1px solid #dcdcdc;
	overflow: hidden;
}

.tree-images{
	padding-top: 17px;
	padding-left: 20px;
}

.tree-images ol{
	margin: 0;
}
.tree-images .toggle{
	padding: 0;
	width: 23px;
}
.tree-images .toggle > span{
	display: inline-block;
    height: 24px;
    position: relative;
    top: 7px;
    width: 23px;
}
.tree-images .toggle > span.tree_closed{
	background: url('images/tree_closed.png') no-repeat 0 0 transparent;
}
.tree-images .toggle > span.tree_opened{
	background: url('images/tree_opened.png') no-repeat 0 0 transparent;
}
.tree-images .toggle + img{
	width: 142px;
	max-height:184px;
	border: 2px solid transparent;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.tree-images .toggle + img:hover{
	border-color: #009CB8;
	-moz-box-shadow: -5px 5px 7px 0px #333333;
	-webkit-box-shadow: -5px 5px 7px 0px #333333;
	-o-box-shadow: -5px 5px 7px 0px #333333;
	box-shadow: -5px 5px 7px 0px #333333;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=10);
	margin-left: 5px;
}
.tree-images ol ol{
	margin-left: 30px;
}
.tree-images ol ol li{
	padding: 18px 0;
	margin-left: 14px;
	width: 220px;
	background: url('images/tree_line.png') repeat-y 0 0 transparent;
}
.tree-images ol ol li:last-child{
	padding-bottom: 0;
	border-bottom: none;
}
.tree-images ol ol li .layer_container{
	margin-left: -11px;
}
.tree-images ol ol li .layer_container .image_container{
	background: url('images/tree_line-horizontal.png') no-repeat 12px center transparent;
	display: inline-block;
}
.tree-images li{
	background-color: transparent;
	margin: 0;
	padding: 0;
	border-top: none;
	border-bottom: 1px solid #939494;
}
.tree-images .pregnant{
	border: none;
}
.tree-images .ui-sortable > li{
	padding: 20px 0;
	width: 270px;
	background: url("images/tree_line.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
}
.tree-images .ui-sortable > li:last-child{
	padding-right: 0;
}
.tree-images .ui-sortable > li .layer_container{
	margin-left: -11px;
}

.controles{
	margin-left: 28px;
}
.controles > div{
	padding-top: 5px;
	display: inline-block;
	width: 25px;
}
.controles div span{
	display: inline-block;
	width: 25px;
	height: 25px;
	background-position: center center;
	background-color: #01acc0;
	background-repeat: no-repeat;
}
.controles div.text_ocr span{
	background-image: url('images/text_ocr.png');
}
.controles div.vocal_syn span{
	background-image: url('images/audio_genere.png');
}
.delete_layer{
	background: url('images/delete_layer.png') no-repeat center center transparent;
	display: inline-block;
	width: 25px;
	height: 25px;
	border: none;
}
body.remove-scroll{
	overflow: hidden;
}
body.remove-scroll .footer{
	display: none;
}
#imagePage{
	height: 100%;
}
.workspace_wrapper{
	height: 100%;
}
.workspace_tools{
	display: none;
}
.workspace_tools label{
    float: left;
    font-family: "helveticaB-CND";
    font-size: 15px;
    min-width: 103px;
    padding-top: 5px;
    margin-bottom: 0;
}
.workspace_tools p{
    margin-bottom: 0;
}

.audio_player-zone{
	overflow: hidden;
	margin-left: 15px;
	border-left: 1px solid #cacaca;
	padding-left: 15px;
}
.audio_player-zone li{
	float: left;
}
.audio_player-zone li + li{
	margin-left: 13px;
}
.generate_vocale{
	background: url('images/audio_generate.png') no-repeat 5px center #009CB8;
    padding-left: 28px;
    width: 110px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.play_vocale{
	background: url('images/mplay.png') no-repeat center center #009CB8;
	width: 42px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.accordion-toggle{
	cursor: pointer;
}

.drag_btn{
	overflow: hidden;
	text-align: center;
	padding-top: 20px;
}
.drag_btn > .bookmarklet_contaioner{
	overflow: hidden;
	width:520px;
	margin: 0 auto;
}
.drag_btn .bookmarklet_btn{
	overflow: hidden;
	background: url('images/bookmarklet_btn.png') no-repeat center center transparent;
	width: 197px;
	height: 100px;
	text-align: center;
	padding-top: 19px;
	float: left;
	margin-right: 20px;
}
.drag_btn .bookmarklet_btn a{
	font-family: "helveticaCND";
	background: #ff6c00;
	width: 155px;
	height: 33px;
	display: inline-block;
	text-align: center;
	padding-top: 8px;
	cursor: move;
}
.drag_btn .bookmarklet_btn a:hover{
	color: #fff;
	text-decoration: none;
}
.globalFieldStyle fieldset:first-child {
	padding-top: 25px;
	padding-bottom: 25px;
}

/* share Popin */
#shareModal h4{
	color: #009cb8;
}
#shareModal h2{
	font-size:20px;
	font-family: "helveticaB-CND";
	color: #414243;
	margin-bottom: 26px;
	line-height: 23px;
	text-transform: uppercase;
}
#shareModal h2 span{
	font-size:18px;
	font-family: "helveticaCND";
	color: #086e80;
	text-transform: none;
}
#shareModal .modal-dialog{
	width: 900px;
}
#shareModal .modal-body{
	padding-top: 25px;
}
#shareModal .control_group{
	padding-top: 15px;
	padding-bottom: 60px;
	border-top: 1px solid #3D3D3D;
	border-bottom: 1px solid #3D3D3D;
}
#shareModal .control_group #destinataire{
	width: 650px;
}
.mail_area{
	padding-left: 40px;
}
.share_btn_container{
	margin-bottom:30px;
}
.share_btn{
	border:none;
	display: inline-block;
	width: 145px;
	height: 45px;
}
.share_link{
	margin-left: 60px;
	display: inline-block;
}
.share_link:hover{
	text-decoration: none;
}
.mail_share{
	background: url('images/mail_share.jpg') no-repeat center center transparent;
}
.fb_share{
	background: url('images/fb_share.jpg') no-repeat center center transparent;
}
.gplus_share{
	background: url('images/gplus_share.jpg') no-repeat center center transparent;
}
.twitter_share{
	background: url('images/twitter_share.jpg') no-repeat center center transparent;
}
/* --------------------------------- */

/* Profile details*/
.profile_details,.compte_details{
	border: 1px solid #d2d2d2;
	padding: 16px 10px;
}
.detail-profil-actions {
	text-align: center;
}
.profile_infos{
	padding-left: 9px;
	margin-bottom: 17px;
	border-bottom: 1px solid #d2d2d2;
}
.profile_infos ul li{
	font-family: "helveticaCND";
	font-size: 15px;
	margin-bottom: 3px;
}
.profile_infos ul li label{
	font-family: "helveticaB-CND";
	min-width: 70px;
	margin-right: 8px;
}
.profile_infos,.profile_regles{
	padding-left: 9px;
	padding-bottom: 9px;
}
.profile_infos h2,.profile_regles h2{
	font-family: "helveticaB-CND";
	font-size: 21px;
	margin-bottom: 12px;
}
.profile_infos ul,.profile_regles ul{
	padding-left: 10px;
}
.profile_regles > p{
	padding-left: 10px;
}
.detail-profil-actions .btn_simple{
	min-width: 156px;
	width: auto;
	padding-top: 10px;
	padding-bottom: 7px;
	padding-left: 39px;
	border: 1px solid #dadada;
}
.detail-profil-actions button + button{
	margin-left: 9px;
}
.detail-profil-actions .share-btn{
	background-image: url('images/share_icn.png');
	background-repeat: no-repeat;
	background-position: 10px 11px;
}
.detail-profil-actions .duplicate-btn{
	background-image: url('images/duplicate_icn.png');
	background-repeat: no-repeat;
	background-position: 10px 11px;
	padding-left: 52px;s
}
.detail-profil-actions .edit-btn{
	background-image: url('images/edit_icn.png');
	background-repeat: no-repeat;
	background-position: 10px 11px;
}
.detail-profil-actions .favourite-btn{
	background-image: url('images/favourit_icn.png');
	background-repeat: no-repeat;
	background-position: 10px 11px;
}
/* --------------------------------- */

/* Mon compte page styles*/
.compte_details{
	padding:28px 20px;
}
.compte_details h2{
	font-size: 20px;
	font-family: "helveticaB-CND";
	text-transform: uppercase;
	margin-bottom: 30px;
}
.compte_details h2 span{
	font-family: "helveticaCND";
	font-size: 18px;
	text-transform: none;
	color: #5f6162;
}
.compte_details fieldset{
	width: 515px;
	margin: 0 auto 35px;
}
.compte_details .reset_btn{
	color: #fff;
	border: none;
	background-color: #bdbdbd;
}
.compte_details #confirmation_pw fieldset{
	padding: 30px 0 25px 65px;
}
#confirmation_pw .modal-dialog{
	width: 880px;
}
#confirmation_pw .modal-dialog fieldset{
	width: 100%;
}
#confirmation_pw .modal-dialog fieldset{
	width: 100%;
}
#confirmation_pw .modal-dialog label{
	width: 280px;
}

/* --------------------------------- */