@font-face {
	font-family: 'helveticaCND';
	src: url('fonts/helvetica/HalvettCondensed.eot');
	src: url('fonts/helvetica/HalvettCondensed.eot?#iefix') format('embedded-opentype'),
	url('fonts/helvetica/HalvettCondensed.woff') format('woff'),
	url('fonts/helvetica/HalvettCondensed.ttf') format('truetype'),
	url('fonts/helvetica/HalvettCondensed.svg#HalvettCondensed') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticaB-CND';
	src: url('fonts/helvetica/HelveticaNeueLTPro-BdCn.eot');
	src: url('fonts/helvetica/HelveticaNeueLTPro-BdCn.eot?#iefix') format('embedded-opentype'),
	url('fonts/helvetica/HelveticaNeueLTPro-BdCn.woff') format('woff'),
	url('fonts/helvetica/HelveticaNeueLTPro-BdCn.ttf') format('truetype'),
	url('fonts/helvetica/HelveticaNeueLTPro-BdCn.svg#HelveticaNeueLTPro-BdCn') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticaL-CND';
	src: url('fonts/helvetica/HelveticaNeueLTPro-LtCn.eot');
	src: url('fonts/helvetica/HelveticaNeueLTPro-LtCn.eot?#iefix') format('embedded-opentype'),
	url('fonts/helvetica/HelveticaNeueLTPro-LtCn.woff') format('woff'),
	url('fonts/helvetica/HelveticaNeueLTPro-LtCn.ttf') format('truetype'),
	url('fonts/helvetica/HelveticaNeueLTPro-LtCn.svg#HelveticaNeueLTPro-LtCn') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNHvCn';
	src: url('fonts/helvetica/HelveticaNeueLTPro-HvCn.eot?') format('eot'),
	url('fonts/helvetica/HelveticaNeueLTPro-HvCneot?#iefix') format('embedded-opentype'),
	url('fonts/helvetica/HelveticaNeueLTPro-HvCn.woff') format('woff'),
	url('fonts/helvetica/HelveticaNeueLTPro-HvCn.ttf')  format('truetype'),
	url('fonts/helvetica/HelveticaNeueLTPro-HvCn.svg#HelveticaNeueLTPro-HvCn') format('svg');
}
::-webkit-input-placeholder {
	color: #3c3d42;
	opacity: 0.8 !important;
}

:-moz-placeholder { /* Firefox 18- */
	color: #3c3d42;
	opacity: 0.8 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #3c3d42;
	opacity: 0.8 !important;
}

:-ms-input-placeholder {
	color: #3c3d42;
	opacity: 1 !important;
}
.normal_case{
	text-transform: none !important;
}
.first_container{
	width: 1159px;
	margin: 0 auto;
}
.breadcrumb_items{
	width: 1159px;
	margin: 0 auto;
	border: 1px solid #d2d2d2;
	border-bottom: 0;
	background: #fff;
	padding: 10px 0 10px 20px;
}
.breadcrumb_items li{
	display: inline-block;
}
.breadcrumb_items li:after{
	display: inline-block;
	content: "/";
	margin-left: 7px;
	font-family: "helveticaB-CND";
}
.breadcrumb_items li:last-child:after{
	content: " ";
}
.breadcrumb_items li a{
	color: #3e4647;
	font-family: "helveticaCND";
	font-size: 14px;
	text-decoration: none;
	text-transform: none;
}
.breadcrumb_items li:first-child a{
	font-family: "helveticaB-CND";
}
.page_inscription_next.container {
	padding: 22px 10px 20px 18px !important;
}
.page_authentification .container {
	width: 802px;
	padding: 0;
	/*padding: 22px 10px 20px 18px;*/
}
.page_authentification .container .authentification_container{
	width: 802px;
	padding: 22px 10px 20px 18px;
}
.browsers{
	padding: 20px 15px 17px 15px;
	border-top: 1px solid #d2d2d2;
}
.browsers li{
	padding-right: 10px;
	display: inline-block;
	font-size: 14px;
	font-family: "helveticaB-CND",arial;
}
.browsers li:first-child{
	padding-right: 0;
	font-size: 13px;
	text-transform: uppercase;
}
.browsers li + li{
	background-color: #ebebeb;
	border: 1px solid #282828;
	margin-left: 7px;
}
.container {
	max-width: 100% !important;
	width: 1159px;
	margin: 0 auto;
	padding: 11px 10px;
	border: 1px solid #d2d2d2;
	background: #fff;

	-webkit-transition: height 0.8s ease;
	-moz-transition: height 0.8s ease;
	-ms-transition: height 0.8s ease;
	-o-transition: height 0.8s ease;
	transition: height 0.8s ease;
}
.apercu_page .container{
	padding: 0;
}
.head_section{
	/*border: 1px solid #dddddd;*/
	border-bottom: 0;
	overflow: hidden;
	padding-bottom: 20px;
}
h1{
	font-family: "HelveticaNHvCn";
	font-size: 26px;
	text-transform: uppercase;
	padding-top: 12px;
	padding-bottom: 9px;
	letter-spacing: 1px;
	color: #086e80;
	padding-left: 20px;
}
table{
	width: 100%;
	border:1px solid #dddddd;
}
table th{
	height: 60px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	background: url('images/table_head-border.jpg') no-repeat right center #3c3d42;
	font-family: "helveticaCND";
	text-transform: uppercase;
	font-size: 14px;
	border-right: 0;
	padding: 0 15px;
}
table th:last-child{
	background-image: none;
}

.serach_field{
	background: url(images/search_field.png) repeat top right #fff;
	border: 1px solid #bebebe;
	width: 325px;
	height: 44px;
	color: #000;
	padding-left: 14px;
	padding-top: 7px;
	margin-left: 5px;
	font-family: "helveticaCND";
}
.grey_btn{
	border: none;
	background-color: #3c3d42;
	color: #fff;
	font-size: 18px;
	font-family: "helveticaB-CND";
	text-transform: uppercase;
	padding:9px 16px 9px 53px;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.grey_btn:hover{
	background-color:#28292c !important;
}
.add_profile{
	background-image: url(images/add_profile.png);
	background-repeat: no-repeat;
	background-position: 10px 5px;
}
.add_tag{
	background-image: url(images/add_tag.png);
	background-repeat: no-repeat;
	background-position: 10px 5px;
}

.upload_msg{
	padding-top: 4px !important;
}
.add_document{
	background-image: url(images/add_document.png);
	background-repeat: no-repeat;
	background-position: 11px 7px;
}
#addDocument{
	padding-top: 10px;
}
#docTitre{
	margin-right: 10px;
}
.file_mask{
	display: inline-block;
	float:left;
	margin-left: 10px;
	position: relative;
	margin-right: 5px;
}
.visu_picto {
	float: left;
	height: 38px;
	width: 20px;
	border: 1px solid #000;
	margin-right: 5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#tagAdd .file_mask, #tagEdit .file_mask{
	margin-left: 0;
}

#docUploadPdf{
	opacity: 0;
	width: 318px;
	height: 33px;
	position: absolute;
	top: 0;
	left: 0;
}
#docUploadPdf:focus + #filename_show{
	border-color: #000;
}
.parcourir_label{
	display: inline-block;
	float: left;
	font-family: "helveticaCND";
	font-size: 16px;
	height: 33px;
	background: url("images/parcourir.png") no-repeat 12px center #3c3d42;
	color: #fff;
	padding-left: 47px;
	padding-top: 6px !important;
	padding-right: 19px;
}
#filename_show,.filename_show{
	width: 197px !important;
}
.simple_txt{
	font-family: "helveticaCND";
	font-size: 16px;
}
.clear_upoadpdf{
	display: inline-block;
	border: none;
	width: 37px;
	height: 33px;
	background-color: #000;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.clear_upoadpdf:before{
	background: url("images/clear_uploadpdf.png") no-repeat scroll 0 0 transparent;
	content: " ";
	display: block;
	height: 14px;
	left: 50%;
	margin-left: -8px;
	margin-top: -7px;
	position: absolute;
	top: 50%;
	width: 16px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

}
.clear_upoadpdf:hover{
	background-color: #1f1f1f;
}
.clear_upoadpdf:hover:before{
	-webkit-ransform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
table .action_zone{
	width: 126px;
	padding: 0;
}
table tr:nth-child(odd){
	background: #f7f6f6;
}
table tr:nth-child(even){
	background: #fff;
}
table tr td{
	border-right:1px solid #dddddd;
	padding-top:28px;
	padding-bottom:28px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: "helveticaCND";
	font-size: 14px;
	color: #3c3d42;
}
table tr td.profile_name{
	width: 323px;
}
table tr td.profil_desc{
	width: 664px;
}
table tr td:last-child{
	border-right:0;
}
.action_area{
	position: absolute;
	width: 118px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 20px;
	padding-top: 24px;
	border: none;
}
#listDocumentPage .action_area{
	width: 103px;
}
.action_btn{
	width: 33px;
	height: 33px;
	background: url(images/list_action-arrow.png) no-repeat center 15px #3c3d42;
	border: none;

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}
.action_btn:hover,.action_btn.active{
	background-color: #151616;
}
.action_list{
	display: none;
	position: absolute;
	top: 70px;
	left: -217px;
	background: #3c3d42;
	padding: 0 4px;
	z-index: 10;
}
.action_list:before{
	content: " ";
	display: block;
	position: relative;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 8px solid #3c3d42;
	top: -7px;
	left: 261px;
}
.action_list li{
	width: 302px;
	height: 50px;
	border-bottom: 1px solid #a1a1a1;
	color: #fff;
	text-align: left;
	margin-bottom: 6px;
}
.action_list li:last-child{
	border-bottom:none;
	margin-bottom: 0;
}
.action_list li a{
	display: block;
	height: 100%;
	color: #fff;
	padding-left: 70px;
	padding-top: 11px;
	font-size: 16px;
	background: url('images/action.png') no-repeat 0 0 transparent;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.action_list li a:hover{
	text-decoration: none;
	color: #f2f2f2;
	padding-left: 80px;
}
.action_list li.setting_item a{
	background-position: 8px 5px;
}
.action_list li.setting_documentTitle a{
	background-position: 11px -680px;
}
.action_list li.restructer_item a{
	background-position: 8px -600px;
}
.action_list li.show_item a{
	background-position: 8px -290px;
}
.action_list li.delegate a{
	background-position: 8px -361px;
}
.action_list li.withdraw_delegate a{
	background-position: 8px -517px;
}
.action_list li.duplicating_item a{
	background-position: 8px -74px;
}
.action_list li.removing_item a{
	background-position: 10px -149px;
}
.action_list li.removing_item_fav a{
	background-position: 10px -941px;
}
.action_list li.share_item a{
	background-position: 9px -226px;
}
.action_list li.default_profil a{
	background-position: 9px -773px;
}
.action_list li.setting_tag a{
	background-position: 11px -770px;
}

.action_list li.setting_item a:hover{
	background-position: 13px 5px;
}
.action_list li.setting_documentTitle a:hover{
	background-position: 16px -680px;
}
.action_list li.restructer_item a:hover{
	background-position: 13px -600px;
}
.action_list li.show_item a:hover{
	background-position: 13px -290px;
}
.action_list li.delegate a:hover{
	background-position: 13px -361px;
}
.action_list li.withdraw_delegate a:hover{
	background-position: 13px -517px;
}
.action_list li.duplicating_item a:hover{
	background-position: 13px -74px;
}
.action_list li.removing_item a:hover{
	background-position: 15px -149px;
}
.action_list li.removing_item_fav a:hover{
	background-position: 15px -941px;
}
.action_list li.share_item a:hover{
	background-position: 14px -226px;
}
.action_list li.default_profil a:hover{
	background-position: 14px -773px;
}
.action_list li.setting_tag a:hover{
	background-position: 17px -770px;
}

#modalContent {
	width: 920px;
}

.modal-content{
	box-shadow: 0 0 0 transparent;
	border-radius: 0;
	padding: 0 30px 30px 30px;
}

.modal-title{
	font-family: "HelveticaNHvCn";
	font-size: 27px;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 10px;
	letter-spacing: 0.5px;
	color: #009cb8;
	padding-left: 0;
}
.modal-header{
	position: relative;
	padding: 0;
	border-bottom: 1px solid #3d3d3d;
}
.modal-header .close{
	position: absolute;
	background: url('images/popin_close.png') no-repeat 0 0 transparent;
	width: 59px;
	height: 62px;
	right: -89px;
	top: 0;
	opacity: 1;
	font-size: 0;
	border: 2px solid #fff;
	border-left: none;
	margin-top: 0;
}
.modal-body{
	padding: 0;
}
.modal-body fieldset{
	padding-top: 7px;
	padding-bottom: 4px;
	border-bottom: 1px solid #3d3d3d;
	overflow: hidden;
	margin-bottom:10px;
}
.modal-body fieldset + fieldset{
	padding-bottom: 19px;
}
.modal-body fieldset + .noblackBorder{
	border-bottom: none;
}
.modal-body fieldset + fieldset .group_title{
	margin-bottom: 9px;
}
.modal-body .group_title{
	font-size: 21px;
	font-family: "helveticaCND";
	margin-bottom: 15px;
	display: block;
}
.modal-body .group_title span{
	font-family: "helveticaL-CND";
	font-style: italic;
}
.modal-body fieldset .controls_zone{
	padding-left: 20px;
	overflow: hidden;
}
.modal-body label{
	font-family: "helveticaB-CND";
	font-size: 15px;
	padding-top: 10px;
	min-width: 103px;
	float: left;
}
.modal-body label.simple_label{
	margin-right: 10px;
}
.modal-body label.long_label{
	margin-right: 65px;
}
.modal-body label span.required{
	color: #a20606;
	font-size: 16px;
}
.modal-body fieldset input{
	background: url('images/dotted_bg.png') repeat 0 0 transparent;
	border: 1px solid #bebebe;
	font-family: "helveticaCND";
	font-size: 15px;
	width: 285px;
	height: 33px;
	padding-left: 15px;
	padding-top: 3px;
}

.modal-body fieldset.padding_large{
	padding: 25px 0;
}
.modal-body select{
	width: 237px;
	height: 33px;
	padding-left: 8px;
	text-transform: capitalize;
}

.color-select {
	text-transform: none !important;
}

.regles_area{
	border: 1px solid #aeaeae;
	overflow: hidden;
}
.regles_area .regles-head_area{
	border-bottom: 1px solid #aeaeae;
	overflow: hidden;
	background: #f4f4f4;
	padding-top: 13px;
	height: 57px;
	position: relative;
}
.regles_area .regles-head_area .blocker{
	position: absolute;
	top: 0;
	width: 100%;
	background: url('images/blocker_bg.png') repeat 0 0 transparent;
	height: 100px;
	z-index: 3;
}
.regles_area .regles-head_area label{
	padding-top: 6px;
}
.regles-body_area{
	padding-top: 16px;
	padding-right: 19px;
	overflow: hidden;
	margin-bottom: 7px;
}
.regles-body_area .controls_zone{
	margin-bottom: 7px;
}
.modal-body .controls_zone input[type="file"]{
	display: inline-block;
}
.regles_exists ul{
	overflow: hidden;
	width: 440px;
}
.regles_exists ul li{
	float: left;
	overflow: hidden;
	margin-right: 12px;
	margin-bottom: 10px;
}
.regles_exists ul li:nth-child(2n+2){
	margin-right: 0;
}
.regles_exists ul li .label_action{
	background: url('images/applicated_tag.png') no-repeat 5px 3px #01acc0;
	display: block;
	width: 146px;
	height: 33px;
	font-size: 14px;
	color: #fff;
	font-family: "helveticaCND";
	padding: 7px 3px 0 26px;
	float: left;
	margin-right: 1px;
}
.regles_exists.editing_tag ul li .label_action{
	width: 146px;
}
.regles_exists ul li .label_action.selected_label{
	background-color: #00626e;
}
.regles_exists ul li .delete_tag{
	width: 33px;
	height: 33px;
	background: url('images/delete_tag.png') no-repeat 9px 8px #fff;
	display: inline-block;
	float: left;
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #ababab;
	border-bottom: 1px solid #ababab;
	text-decoration: none;
}
.regles_exists ul li .set_tag{
	margin-right: 1px;
	width: 33px;
	height: 33px;
	background: url('images/set_tag.png') no-repeat 3px 6px #fff;
	display: inline-block;
	float: left;
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #ababab;
	border-bottom: 1px solid #ababab;
	text-decoration: none;
}
.regles_exists ul li .delete_tag:hover{
	text-decoration: none;
}
.validation_regles{
	text-align: right;
	/*border-top: 1px solid #b6b6b6;*/
	margin: 0 20px;
	/*padding-top: 13px;*/
	padding-bottom: 11px;
}
.grey_btn.normal_padding{
	padding-left: 16px;
	padding-bottom: 5px;
	font-size: 17px;
}
.reset_btn{
	background-color: #BDBDBD;
	border: 1px solid #DCDCDC;
	color: #FFFFFF;
	font-family: "helveticaCND";
	font-size: 17px;
	margin-right: 30px;
	padding: 8px 0 4px;
	text-transform: uppercase;
	width: 157px;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.reset_btn:hover{
	background-color: #a6a6a6;
}
.customSelect{
	background: url('images/select_bg.png') repeat right -4px #fff;
	border: 1px solid #adadad;
	height: 33px;
	color: #3c3d42;
	font-size: 18px;
	font-family: "helveticaL-CND";
	padding-left: 10px;
	padding-top: 2px;
	text-transform: none;
	width: 255px;
	/*width: 239px;*/
}

select:focus + .customSelect{
	border: 1px solid #000;
}
.current_profile .customSelect{
	background-position: right 0px;
	height: 43px;
	width: 215px;
	padding-top: 7px;
}

.customSelect .customSelectInner{
	display: block !important;
	width: auto !important;
}
.langue .customSelect{
	width: 166px;
}
option{
	background: #fafafa;
}

.page_authentification h2, .compte_details h2{
	font-size:20px;
	font-family: 'arial narrow',sans-serif;
	color: #414243;
	margin-bottom: 37px;
	line-height: 23px;
	font-weight: bold;
	font-stretch:condensed;
}
.page_authentification h2 span.blue-subtitle, .compte_details h2 span.blue-subtitle{
	font-size:18px;
	font-family: "helveticaCND";
	color: #086e80;
	text-transform: none;
	font-weight: normal;
}

.page_authentification #loginbox h2{
	margin-bottom: 30px;
}
.page_authentification .form_container{
	padding-left:136px;
	padding-right:127px;
	margin-bottom: 13px;
}
.page_authentification .form_container .control_group
,.form_container .control_group{
	overflow: hidden;
	clear: both;
	margin-bottom:15px;
}
.page_authentification .form_container .control_group.last{
	margin-bottom:30px;
}
.page_authentification .form_container .control_group label
,.globalFieldStyle .control_group label,#shareModal .control_group label{
	width: 135px;
	padding-right: 4px;
	padding-left: 30px;
	display: block;
	float: left;
	min-height: 34px;
	color: #fff;
	padding-top: 8px;
	font-family: 'arial narrow',sans-serif;
	font-stretch: condensed;
	text-transform: uppercase;
	font-size: 13px;
	background-color: #5f6162;
	background-position: 9px center;
	background-repeat: no-repeat;
	margin: 0;
	position: relative;

}
.page_authentification .form_container .control_group label.two_lignes, label.two_lignes{
	height: 34px;
	padding-top: 5px !important;
	line-height: 13px;
}
label.without_icn{
	padding-left: 10px !important;
}
.page_authentification .form_container .control_group label:after
,.globalFieldStyle .control_group label:after,#shareModal .control_group label:after{
	content: " ";
	display: block;
	position: absolute;
	right: -4px;
	top: 50%;
	margin-top: -3px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 3.5px 0 3.5px 4px;
	border-color: transparent transparent transparent #5f6162;

}
.page_authentification .form_container .control_group label#label_user,#label_name_etap-one,#label_fname_etap-one{
	background-image:url('images/user_icn.png');
}
.page_authentification .form_container .control_group label#label_mdp,#label_pwd_etap-one,#label_comfpsw_etap-one,.label_keys-icn{
	background-image:url('images/pwd_icn.png');
}
#label_email_etap-one{
	background-image:url('images/mail.png');
}
.page_authentification .form_container .control_group input
,.globalFieldStyle .control_group input,#shareModal .control_group input{
	background: url('images/dotted_bg.png') repeat 0 0 #fff;
	float: left;
	height: 34px;
	border: 1px solid #bebebe;
	border-left: none;
	width: 373px;
	padding-left: 15px;
	font-family: "helveticaCND";
	font-size: 14px;
}

.btn_simple {
	border: none;
	color: #fff;
	font-size: 16px;
	font-family: "helveticaCND";
	text-transform: uppercase;
	padding: 8px 5px 4px;
	display: inline-block;
	min-width: 156px;
	text-align: center;
	cursor: pointer;
}
.btn_simple:focus {
	border: 1px dotted #000;
}
.choiceWorkSpace .btn_simple{
	width: auto;
}
.choiceWorkSpace button + button{
	margin-left: 10px;
}
.btn_simple.blue {
	background-color: #086e80;
}
.btn_simple.light_blue {
	background-color: #009cb8;
	border: 1px solid #009cb8;


	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.btn_simple.light_blue:hover {
	background-color: #086E80;
}
.btn_simple.light_blue:focus, .reset_btn:focus {
	border: 1px dotted #000;
}
.set_txtbtn{
	background-image: url('images/edit_txt.png');
	background-repeat : no-repeat;
	background-position :  14px center;
	margin-right:10px;
}

.duplicate_txtbtn{
	background-image: url('images/duplicatet_txt.png');
	background-repeat : no-repeat;
	background-position :  14px center;
}
.delete_txtbtn{
	background-image: url('images/delete_txt.png');
	background-repeat : no-repeat;
	background-position :  14px center;
	float: right !important;
}

.modal .light_bluehead{
	color: #009cb8;
}
.modal-dialog.push_top{
	padding-top: 82px;
}
.ngdialog-close{
	display: none;
}
/*.btn_simple.normal_padding {
	padding: 6px 30px 3px 30px;
}*/
/*.btn_simple.much_padding {
	padding: 6px 70px 3px 70px;
}*/
.much_padding{
	padding: 9px 16px !important;
}
.page_authentification.blue {
	font-size: 16px;
}
.black_link{
	font-size: 16px;
	color: #343c48;
	background: url('images/link_bull.png') no-repeat 0 5px transparent;
	font-family: "helveticaCND";
	padding-left: 18px;
	text-decoration: underline;
	display: inline-block;
}
.black_link:hover{
	color: #086e80;
}
.green_link{
	font-size: 18px;
	color: #086e80;
	font-family: "helveticaCND";
	text-decoration: underline;
}

/* Steps progress styles*/

.steps_progress{
	margin-left: 2px;
	margin-bottom: 44px;
	position: relative;
}
.steps_progress ul li{
	display: inline-block;
	color: #5f6162;
	font-family: 'arial narrow',sans-serif;
	font-size: 12px;
	/*margin-left: 54px;*/
	text-transform: uppercase;
	letter-spacing: 0.25px;
	position: relative;


	-webkit-transition: all 3s ease;
	-moz-transition: all 3s ease;
	-ms-transition: all 3s ease;
	-o-transition: all 3s ease;
	transition: all 3s ease;
}
/* Specific styles only for webkit browsers styles*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.steps_progress ul li{
		font-size: 11px;
		letter-spacing: 0;
	}
}
.steps_progress ul li + li{
	/*margin-left: 107px;*/
	left: 165px;
}
.steps_progress ul li + li + li{
	/*margin-left: 80px;*/
	left: 247px;
}
.steps_progress ul li + li + li + li{
	/*margin-left: 60px;*/
	left: 311px;
}
.steps_progress[data-step='step_one'] .progress_item{
	width: 180px;
}
.steps_progress[data-step='step_one'] ul li:first-child{
	/*font-family: "helveticaB-CND";*/
	font-weight: bold;
	color: #009cb8;
	left: 57px;
}
.steps_progress[data-step='step_two'] ul li:nth-child(1)
,.steps_progress[data-step='step_two'] ul li:nth-child(2){
	/*font-family: "helveticaB-CND";*/
	font-weight: bold;
	color: #009cb8;
}
.steps_progress[data-step='step_three'] ul li:nth-child(1)
,.steps_progress[data-step='step_three'] ul li:nth-child(2)
,.steps_progress[data-step='step_three'] ul li:nth-child(3){
	/*font-family: "helveticaB-CND";*/
	font-weight: bold;
	color: #009cb8;
}
.steps_progress[data-step='step_four'] ul li:nth-child(1)
,.steps_progress[data-step='step_four'] ul li:nth-child(2)
,.steps_progress[data-step='step_four'] ul li:nth-child(3)
,.steps_progress[data-step='step_four'] ul li:nth-child(4){
	/*font-family: "helveticaB-CND";*/
	font-weight: bold;
	color: #009cb8;
}
.steps_progress[data-step='step_two'] .progress_item{
	width: 375px;
}
.steps_progress[data-step='step_three'] .progress_item{
	width: 570px;
}
.steps_progress[data-step='step_four'] .progress_item{
	width: 100%;
}
.steps_bar{
	background-color: #5f6162;
	position: relative;
	height: 40px;
	overflow: hidden;
}
.steps_bar .steps_mask{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.progress_item{
	background-color: #009cb8;
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	border-right: 2px solid #fff;

	-webkit-transition: width 2s ease;
	-moz-transition: width 2s ease;
	-ms-transition: width 2s ease;
	-o-transition: width 2s ease;
	transition: width 2s ease;
}

.modal_content-text{
	padding-top:30px;
	padding-bottom:30px;
	font-size: 15px;
	line-height: 18px;
	font-family: "helveticaCND";
	text-align: justify;
}
.modal-dialog.adjustPadding{
	padding-top: 15px;
}
.modal-dialog.bigger{
	width: 700px;
}
.modal-dialog.biggest{
	width: 830px;
}
.info_txt{
	padding-top: 24px;
	font-size: 15px;
	line-height: 20px;
	font-family: "helveticaCND";
}
.info_txt p{
	text-align: justify;
}
.info_txt .text_left{
	text-align: left;
}
.info_txt .text_left.ajustPadding_bottom{
	padding-bottom: 15px;
}
.info_txt {
	text-align: left;
}
a.btn_simple:hover{
	color: #fff;
	text-decoration: inherit;
}
.box{
	padding-right: 8px;
}
.much-btmargin{
	margin-bottom:200px;
}

/*404 styles*/

.visu_opps {
	padding: 90px 0 105px 123px;
	background: url('images/url_erreur.png') no-repeat 581px 82px transparent;
}
.visu_opps.erreur_page{
	background-image: none;
	text-align: center;
	padding-left: 0;
}
.visu_opps p{
	font-family: "helveticaB-CND", arial;
	font-size: 14px;
	text-transform: uppercase;
	color: #3c3d42;
	padding-top: 16px;
	padding-bottom: 5px;
	border-bottom: 1px solid #3c3d42;
	display: inline-block;
	margin-bottom: 5px;
}
.visu_opps span{
	font-family: "helveticaB-CND", arial;
	font-size: 14px;
	text-transform: uppercase;
	color: #3c3d42;
	padding-bottom: 5px;
	display: inline-block;
	margin-bottom: 28px;
}
/*=============*/

.footer{
	padding-top: 25px;
}
.footer p{
	text-align: center;
	font-size: 13px;
	color: #3c3d42;
	font-family: 'arial narrow',sans-serif;
	font-stretch: condensed;
}
.alert{
	border: medium none;
	font-family: "helveticaCND";
	margin-bottom: 9px;
	padding:0;
	background: none;
	margin-left: 10px;
	border-radius: 0;
	padding-top: 2px;
}

.dark_green{
	color: #086E80;
}

.normal_padding {
	font-size: 17px;
	padding-bottom: 5px;
	padding-left: 16px;
}
.header_area{
	clear: both;
	overflow: hidden;
}
.doc_save{
	margin-right: 20px;
	padding: 12px 14px 8px 48px;
	background-image: url('images/save_doc.png');
	background-repeat : no-repeat;
	background-position :  14px center;
}


.undo{
	width: 52px;
	height: 43px;
	border: none;
	background: url('images/undo_suppression.png') center center no-repeat #009CB8;
	margin-right: 20px;
}

.undo_disabled{
	width: 52px;
	height: 43px;
	border: none;
	background: url('images/undo_suppression.png') center center no-repeat #BDBDBD;
	margin-right: 20px;
}

.astuce{
	width: 52px;
	height: 43px;
	border: none;
	background: url('images/bulb_icn.png') center center no-repeat #009cb8;
	margin-right: 20px;
}
.close_structuration{
	width: 52px;
	height: 43px;
	border: none;
	background: url('images/close_icn.png') center center no-repeat #009cb8;
	margin-right: 20px;
}
.with_icnleft{
	padding-left: 48px !important;
	padding-right: 14px !important;
}
.doc_resizing{
	width: 52px;
	height: 43px;
	background: url('images/resize_icn.png') no-repeat center 15px #009CB8;
	border: none;

	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.doc_resizing.active{
	background-position:center -16px;
	background-color: #086E80;
}
.submit_document{
	display: none;
}

.workspace_tools{
	padding: 10px;
	border-bottom: 1px solid #dcdcdc;
	overflow: hidden;
}
.image_container{
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
}
.tree-images{
	padding-top: 17px;
	padding-left: 20px;
}

.tree-images ol{
	margin: 0;
}
.tree-images .toggle{
	padding: 0;
	width: 23px;
}
.tree-images .toggle > span{
	display: inline-block;
	height: 24px;
	position: relative;
	top: 7px;
	width: 23px;
}
.tree-images .toggle > span.tree_closed{
	background: url('images/tree_closed.png') no-repeat 0 0 transparent;
}
.tree-images .toggle > span.tree_opened{
	background: url('images/tree_opened.png') no-repeat 0 0 transparent;
}
.tree-images .toggle + img{
	width: 142px;
	max-height:184px;
	border: 2px solid transparent;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.tree-images .toggle + img:hover{
	border-color: #009CB8;
	-moz-box-shadow: -5px 5px 7px 0px #333333;
	-webkit-box-shadow: -5px 5px 7px 0px #333333;
	-o-box-shadow: -5px 5px 7px 0px #333333;
	box-shadow: -5px 5px 7px 0px #333333;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=10);
	margin-left: 5px;
}
.tree-images ol ol{
	margin-left: 20px;
}
.tree-images ol ol li{
	width: 265px;
	background: url('images/tree_line.png') repeat-y 0 0 transparent;
	border:1px solid transparent;
}

/*.tree-images ol ol li.active{
	background-color: #acb3bc;
	border:1px solid #e8eaeb;
}*/

.layer_container{
	padding-top: 5px;
	border:1px solid transparent;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.layer_container.active,.layer_container.active:hover{
	background-color: #acb3bc !important;
	border:1px solid #e8eaeb;
}
.layer_container:hover{
	background-color: #8a8f96 !important;
	border:1px solid #e8eaeb;
}
.tree-images ol ol li .layer_container{
	margin-left: -11px;
	overflow: hidden;
}
.tree-images ol ol li .layer_container .image_container{
	background: url('images/tree_line-horizontal.png') no-repeat 12px 18px transparent;
	display: inline-block;
	margin-bottom: 5px;
}
.cut_piece{
	min-height: 36px;
	vertical-align: top;
	overflow: hidden;
}
.cut_piece:focus{
	border:1px dotted #000;
}
.tree-images li{
	background-color: transparent;
	margin: 0;
	padding: 0;
	border-top: none;
}
.tree-images .pregnant{
	border: none;
}
.tree-images .ui-sortable > li{
	padding: 11px 0;
	width: 270px;
	background: url("images/tree_line.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
}
.tree-images .ui-sortable > li:last-child{
	padding-right: 0;
}
.tree-images .ui-sortable > li > .layer_container{
	background: url("images/tree_line.png") repeat-y scroll 31px 6px rgba(0, 0, 0, 0);
}
.tree-images .ui-sortable > li .layer_container{
	margin-left: -11px;
	overflow: hidden;
}
.tree-images .ui-sortable > li > .layer_container > .image_container .cut_piece{
	min-width: 92px;
	max-width: 92px;
}

.controles{
	margin-left: 28px;
}
.controles > div{
	padding-top: 5px;
	display: inline-block;
	width: 25px;
}
.controles div span{
	display: inline-block;
	width: 25px;
	height: 25px;
	background-position: center center;
	background-color: #01acc0;
	background-repeat: no-repeat;
}
.controles div.text_ocr span{
	background-image: url('images/text_ocr.png');
}
.controles div.vocal_syn span{
	background-image: url('images/audio_genere.png');
}
.delete_layer{
	background: url('images/delete_layer.png') no-repeat center center #3f4750;
	display: inline-block;
	width: 15px;
	height: 36px;

	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;

	border:none;
	border-right:1px solid #525b66;
}
.duplicate_layer{
	background: url('images/duplicate_layer_ws.png') no-repeat center center #3f4750;
	display: inline-block;
	width: 15px;
	height: 36px;

	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;

	border:none;
	border-left:1px solid #525b66;

	margin-left: -3px;
}
.options_label{
	display: inline-block;
}
.options_label span{
	display: inline-block;
	width: 18px;
	height: 36px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	margin-right: 5px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.options_label .label_txt{
	background-image: url('images/label_txt.png');
}
.options_label .label_vocal{
	background-image: url('images/label_vocal.png');
}


body.remove-scroll{
	overflow-y: auto;
}
body.remove-scroll .footer{
	display: none;
}
#global_container.workspace_area{
	height: 460px;
}
#imagePage{
	height: 100%;
}
.workspace_wrapper{
	height: 100%;
}
.workspace_tools{
	display: none;
}
.workspace_tools label{
	float: left;
	font-family: "helveticaB-CND";
	font-size: 15px;
	min-width: 103px;
	padding-top: 5px;
	margin-bottom: 0;
}
.workspace_tools p{
	margin-bottom: 0;
}

.tutorial_area{
	width: 100%;
	position: relative;
	z-index: 9000;
}
.tutorial_container{
	width: 600px;
	/* height: 150px; */
	border: 1px solid #000;
	position: absolute;
	z-index: 5;
	background-color: #009CB8;
	bottom: -115px;
	left: 50%;
	margin-left: -460px;
	padding: 10px;
	-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
}
.close_tuto{
	position: absolute;
	right: 0;
	top: 0;
	color: #009CB8;
	font-size: 15px;
	width: 23px;
	height: 23px;
	background: #fff;
	padding: 0;
	line-height: 17px;
	padding-bottom: 2px;
	border: 1px solid #000;
	border-right: none;
	border-top: none;
}

.tutorial_symbol{
	float: left;
	width:100px;
	text-align: center;
	padding-top: 58px;
}
.tutorial_symbol img{
	width: 75%;
}
.tutorial_desc{
	float: left;
	color: #fff;
	width: 460px;
	padding-top: 10px;
}
.tutorial_desc h3{
	font-family: "HelveticaNHvCn",arial;
	font-size: 22px;
	text-transform: uppercase;
	padding-bottom: 5px;
	border-bottom: 1px solid #fff;
	margin-bottom: 15p
}
.tutorial_desc p{
	font-family: "helveticaCND", arial;
	font-size: 16px;
	padding-top: 10px;
	margin-bottom: 0;
}

.hide_forever_area{
	text-align: center;
}
.hide_forever_area button{
	border: none;
	color: #009CB8;
	background: #fff;
	font-size: 16px;
	font-family: "helveticaCND";
	text-transform: uppercase;
	padding: 8px 15px 4px;
	cursor: pointer;
}

.audio_player-zone{
	overflow: hidden;
	margin-left: 15px;
	border-left: 1px solid #cacaca;
	padding-left: 15px;
}
.audio_player-zone li{
	float: left;
}
.audio_player-zone li + li{
	margin-left: 5px;
}

.slide-element .audio_player-zone {
	text-align: center;
	border-left: 0;
	padding-left: 0;
	padding-top : 10px;
}

.slide-element .audio_player-zone li{
	display: inline-block;
	*zoom: 1;
	float : none;
	vertical-align : top;
}
.small_btn{
	width: 35px;
	min-width: 35px !important;
	height: 35px;
	padding: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.small_btn img{
	margin : 0 auto;
	display : block;
}
.play_vocale{
	background: url('images/mplay.png') no-repeat center center #009CB8;
}
.pause_audio{
	background: url('images/pause_audio.png') no-repeat center center #009CB8;
}

.accordion-toggle{
	cursor: pointer;
}

.drag_btn{
	overflow: hidden;
	text-align: center;
	padding-top: 20px;
}
.drag_btn > .bookmarklet_contaioner{
	overflow: hidden;
	width:520px;
	margin: 0 auto;
}
.drag_btn .bookmarklet_btn{
	overflow: hidden;
	background: url('images/bookmarklet_btn.png') no-repeat center center transparent;
	width: 197px;
	height: 100px;
	text-align: center;
	padding-top: 19px;
	float: left;
	margin-right: 20px;
}
.drag_btn .bookmarklet_btn a{
	font-family: "helveticaCND";
	background: #ff6c00;
	width: 155px;
	height: 33px;
	display: inline-block;
	text-align: center;
	padding-top: 8px;
	cursor: move;
	text-transform: none;

}
.drag_btn .bookmarklet_btn a:hover,.drag_btn .bookmarklet_btn a:focus{
	color: #fff;
	text-decoration: none;
}
.drag_btn .bookmarklet_btn a:focus{
	border:1px dotted #fff;
}
.globalFieldStyle fieldset:first-child {
	padding-top: 25px;
	padding-bottom: 25px;
}

/* share Popin */
#shareModal h4{
	color: #009cb8;
}
#shareModal h2{
	font-size:20px;
	font-family: "helveticaB-CND";
	color: #414243;
	margin-bottom: 26px;
	line-height: 23px;
	text-transform: uppercase;
}
#shareModal h2 span{
	font-size:18px;
	font-family: "helveticaCND";
	color: #086e80;
	text-transform: none;
}
#shareModal .modal-dialog{
	width: 900px;
	padding-left: 0;
	padding-right: 0;
}
#shareModal .modal-body{
	padding-top: 25px;
}
#shareModal .control_group{
	padding-top: 15px;
	padding-bottom: 60px;
	border-top: 1px solid #3D3D3D;
	border-bottom: 1px solid #3D3D3D;
	margin-bottom: 20px;
}
#shareModal .control_group #destinataire{
	width: 630px;
}
#shareModal .modal-content{
	padding: 0 20px 30px 20px !important;
}

#shareModal .modal-header .close {
	right: -79px;
}

.google-share div {
	float: left !important;
}

.mail_area{
	padding-left: 40px;
}
.share_btn_container{
	margin-bottom:30px;
}

.share_btn_container ul {
	overflow: hidden;
}

.share_btn_container ul li {
	float: left;
	border: 1px solid gray;
	width: 206px;
	height: 44px;
	padding: 12px 0 12px 7px;
}

.share_btn_container ul li+li {
	margin-left: 10px;
}

.share-text {
	margin-left: 18px;
	font-size: 16px;
	line-height: 16px;
	font-family: "helveticaCND";
	color: #333333;
}

.share_btn{
	float: left;
	border:none;
	display: inline-block;
	width: 77px;
	height: 17px;
}
.share_link{
	/*margin-left: 60px;*/
	display: inline-block;
}
.share_link:hover{
	text-decoration: none;
}
.mail_share{
	background: url('images/mail_share.jpg') no-repeat center center transparent;
}
.fb_share{
	background: url('images/fb_share.jpg') no-repeat center center transparent;
}
.gplus_share{
	background: url('images/gplus_share.jpg') no-repeat center center transparent;
}
.twitter_share{
	background: url('images/twitter_share.jpg') no-repeat center center transparent;
}
/* --------------------------------- */

/* Profile details*/
.profile_details,.compte_details{
	border: 1px solid #d2d2d2;
	padding: 16px 10px;
}
.detail-profil-actions {
	text-align: center;
}
.profile_infos{
	padding-left: 9px;
	margin-bottom: 17px;
	border-bottom: 1px solid #d2d2d2;
}
.profile_infos ul li{
	font-family: "helveticaCND";
	font-size: 15px;
	margin-bottom: 3px;
}
.profile_infos ul li label{
	font-family: "helveticaB-CND";
	min-width: 70px;
	margin-right: 8px;
}
.profile_infos,.profile_regles{
	padding-left: 9px;
	padding-bottom: 9px;
}
.profile_infos h2,.profile_regles h2{
	font-family: "helveticaB-CND";
	font-size: 21px;
	margin-bottom: 12px;
}
.profile_infos ul,.profile_regles ul{
	padding-left: 10px;
}
.profile_regles > p{
	padding-left: 10px;
}
.detail-profil-actions .btn_simple{
	min-width: 156px;
	width: auto;
	padding-top: 10px;
	padding-bottom: 7px;
	padding-left: 39px;
	border: 1px solid #dadada;
}
.detail-profil-actions button + button{
	margin-left: 9px;
}
.detail-profil-actions .share-btn{
	background-image: url('images/share_icn.png');
	background-repeat: no-repeat;
	background-position: 10px 11px;
}
.detail-profil-actions .duplicate-btn{
	background-image: url('images/duplicate_icn.png');
	background-repeat: no-repeat;
	background-position: 10px 11px;
	padding-left: 52px;
}
.detail-profil-actions .edit-btn{
	background-image: url('images/edit_icn.png');
	background-repeat: no-repeat;
	background-position: 10px 11px;
}
.detail-profil-actions .favourite-btn{
	background-image: url('images/favourit_icn.png');
	background-repeat: no-repeat;
	background-position: 10px 11px;
}
.detail-profil-actions .accepte-delegate{
	background-image: url('images/accepte_delegate.png');
	background-repeat: no-repeat;
	background-position: 10px 7px;
	padding-left: 53px;
}

.profile_popins{
	width: 1035px !important;
}
.profile_popins .regles_area label{
	padding-right: 10px;
	min-width: 200px;
}
/* --------------------------------- */

/* Mon compte page styles*/
.compte_details{
	padding:28px 20px;
}
.compte_details h2{
	font-size: 20px;
	font-family: "helveticaB-CND";
	text-transform: uppercase;
	margin-bottom: 30px;
}
.compte_details h2 span{
	font-family: "helveticaCND";
	font-size: 18px;
	text-transform: none;
	color: #5f6162;
}
.compte_details fieldset{
	width: 515px;
	margin: 0 auto 35px;
}
.compte_details .reset_btn{
	color: #fff;
	border: none;
	background-color: #bdbdbd;
}
.compte_details #confirmation_pw fieldset{
	padding: 30px 0 25px 65px;
}
#confirmation_pw .modal-dialog{
	width: 880px;
}
#confirmation_pw .modal-dialog fieldset{
	width: 100%;
}
#confirmation_pw .modal-dialog fieldset{
	width: 100%;
}
#confirmation_pw .modal-dialog label{
	width: 280px;
}

/* --------------------------------- */

/* audio controls styles*/
.audio_controls{
	width: 35px;
	height: 35px;
	display: inline-block;
	border: 1px solid #5FC1D2;
	background-color: #009cb8;
	background-position:center center;
	background-repeat: no-repeat;


	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.audio_controls:hover{
	background-color: #00788E;
}
.play_audio{
	background-image: url('images/play_sound.png');
}
.stop_audio{
	background-image: url('images/stop_sound.png');
}

/* --------------------------------- */
.simple_text{
	font-family: "helveticaCND";
	font-size: 18px;
}


/*Annotation works*/
#plan{
	padding-left: 27px;
	padding-top: 15px;
}
#noPlan{
	padding-left: 27px;
	padding-top: 15px;
	background: url("images/slide-separator.jpg") repeat-y 735px top transparent;
	min-height: 635px;
}
#noPlan .image_type{
	max-width:682px;
}
div[id^="noPlanPrint"] .image_type{
	max-width:682px;
}

.zoneID{
	z-index: 9;
	width: 330px;
	border: 0;
}
.zoneID td{
	border: 0;
}
.zoneID .annotation_area {
	background-color: #FFFFFF;
	border: 1px solid #A3A3A3;
	display: inline-block;
	font: 14px/1.5 'helveticaCND',arial;
	min-height: 36px;
	overflow: hidden;
	padding: 0;
	position: relative;
	resize: vertical;
	/*    text-transform: uppercase;*/
	width: 290px;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.annotation_area > div{
	padding: 10px 35px 10px 10px;
	outline:none;
}
.has_note {
	cursor: pointer ;
	height: 55px ;
	width: 90px ;
	z-index: 100;
	background: url("images/annotation/has_note.png") no-repeat center center transparent;
}
.doc-apercu h2{
	font-size: 30px;
	text-transform: uppercase;
	font-family: "helveticaB-CND";
	color:#0060bf;
	margin-bottom: 36px;
}

.delete_note{
	width: 23px;
	background: url("images/annotation/delete_note.png") no-repeat center center #747474;
	padding: 0;

	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.drag_note{
	width: 17px;
	background: url("images/annotation/drag_note.png") no-repeat center center #a3a3a3;
	padding: 0;
	cursor: move;
}
.collapse_note{
	/* position: absolute; */
	/* right: 3px; */
	/* top: 3px; */
	border: 0;
	display: inline-block;
	background-color: #747474;
	max-width: 17px;
	width: 17px;
	height: 15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: url("images/annotation/collapse_note.png") no-repeat center -18px #747474;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	float: right;
	padding: 0!important;
}
.edit_note{
	/* position: absolute; */
	/* right: 0; */
	/* top: 3px; */
	border: 0;
	display: inline-block;
	background: url("images/annotation/edit_save_icn.png") no-repeat center top #747474;
	max-width: 17px;
	width: 17px;
	height: 15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	float: left;
	padding: 0 !important;
}

.edit_note.save_status{
	background-position: -1px -30px;
}
.edit_note:hover,.collapse_note:hover{
	background-color: #585858;
}
.closed + .collapse_btn .collapse_note{
	background-position: 3px 3px;
}
.opened.annotation_area {
	/*height: auto !important;*/
}
.closed.annotation_area {
	height: 36px;
}
.collapse_btn{
	height: 15px;
	padding: 0;
	position: absolute;
	right: 20px;
	top: 3px;
	vertical-align: top;
	width: 36px;
	text-align: right;
}
.share_annotation{
	overflow: hidden;
	margin-bottom: 26px;
}

.with_border{
	padding-top: 20px;
	border-top: 1px solid #3d3d3d;
}
/* --------------------------------- */

@media print{
	.body-home{
		background-image: none;
	}
	.delete_note,.collapse_btn,#noteID{
		display: none !important;
	}
	.zoneID .annotation_area{
		resize:none !important;
	}
	.zoneID{
		width: 290px !important;
	}
}

/*Print Modal styles */
#printModal .info_txt{
	font-size: 16px;
	margin-bottom: 46px;
}
#printModal .controls_zone,#openUpgradeModal .controls_zone{
	overflow: hidden;
}
#printModal input[type="radio"] + label.mask,#openUpgradeModal input[type="radio"] + label.mask{
	width: 21px;
	height: 21px;
	float: left;
	margin-right: 10px;
	background: url("images/radio_mask.png") no-repeat 0 0 transparent;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

	min-width:initial;
}
#printModal input[type="checkbox"] + label.mask{
	width: 21px;
	height: 21px;
	float: left;
	margin-right: 10px;
	background: url("images/checkbox_mask.png") no-repeat 0 0 transparent;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#printModal input[type="radio"]:checked + label.mask,#openUpgradeModal input[type="radio"]:checked + label.mask{
	background-position: 0 bottom;
}
#printModal input[type="checkbox"]:checked + label.mask{
	background-position: 0 bottom;
}
#printModal label,#openUpgradeModal label.mask + label{
	font-family:'helveticaCND',arial;
	font-size: 16px;
	width: auto;
	min-width: initial;
	padding-top: 0;
	font-weight: normal;
}
#printModal select{
	width:96px !important;
	margin-left: 8px;
	padding-left: 0;
}
#printModal .customSelect{
	width:96px !important;
	margin-left: 8px;
}
#printModal .num_pages{
	display: block;
	padding-left: 32px
}
#printModal #pages_start_from + .customSelect{
	margin-right:16px;
}

/* --------------------------------- */

/*Loader styles*/
.loader_cover{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url("images/loader_cover.png") repeat 0 0 transparent;
	display: none;
	z-index: 300;
}
#loader_container{
	position: absolute;
	top: 50%;
	left: 50%;
	background: url("images/loader_bar.png") no-repeat center 0 transparent;
	width: 900px;
	height: 61px;
	margin-left: -450px;
	margin-top: -30px;
	z-index: 660;
}
.loader_bar{
	left: 8px;
	position: absolute;
	top: 35px;
	width: 623px;
	margin-left: 130px;
}
.progress_bar{
	background: url("images/progress_bg.jpg") no-repeat scroll right 0 rgba(0, 0, 0, 0);
	height: 10px;
	max-width: 100%;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.percentage_box{
	background: url("images/percentage_box.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	position: absolute;
	top: -75px;
	right: -28px;
	display: inline-block;
	width:57px;
	height:42px;
	text-align: center;
	font-family: "helveticaB-CND";
	color: #fff;
	font-size: 21px;
	line-height: 33px;
}
.percentage_box span{
	font-size: 14px;
}
.loader_txt{
	color: #FFFFFF;
	font-family: "helveticaCND";
	font-size: 20px;
	position: absolute;
	text-align: center;
	top: 76px;
	width: 100%;
}
.loader_txt img{
	margin-top: -10px;
}

.emergency_message {
	display: none;
}

.fixed_loader{
	background: url("images/loader_cover.png") repeat scroll 0 0 transparent;
	/*display: none;*/
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 300;
}
.fixed_loader .loadre_container{
	background: url("images/ajax-loader.gif") no-repeat scroll center 0 transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 700px;
	margin-left: -350px;
	min-height: 130px;
	margin-top: -65px;
}


#checkUpdate{
	display: none;
}
/* --------------------------------- */

/*Messages styles*/
.msg_error{
	width: 100%;
	margin-top: 15px;
	border: 1px solid #c49898;
	font-family: "helveticaB-CND";
	font-size: 18px;
	text-transform: uppercase;
	color: #850211;
	background: url("images/msg_err_bg.png") repeat 0 0 transparent;
	padding: 10px 20px;
	margin-bottom: 7px;
}
.msg_succes{
	width: 100%;
	margin-top: 15px;
	border: 1px solid #a0bc9f;
	font-family: "helveticaB-CND";
	font-size: 18px;
	text-transform: uppercase;
	color: #155a14;
	background: url("images/msg_succes_bg.png") repeat 0 0 transparent;
	padding: 10px 20px;
	margin-bottom: 7px;
}
/* --------------------------------- */

/*Tags Modal styles */
.checkbox_zone input[type="checkbox"] + label.mask{
	width: 21px;
	height: 21px;
	min-width: 21px;
	margin-top: 10px;
	padding-top: 0;
	float: left;
	margin-right: 10px;
	background: url("images/checkbox_mask.png") no-repeat 0 0 transparent;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.checkbox_zone input[type="checkbox"]:checked + label.mask{
	background-position: 0 bottom;
}
/* --------------------------------- */

.admin_users .share_annotation{
	margin-bottom: 5px;
}

.admin_users .checkbox_zone input[type="checkbox"] + label.mask{
	margin-top: 0px;
}



.admin_subs{
	font-size:18px;
	font-family: "helveticaCND";
	color: #086e80;
	text-transform: none;
	font-weight: normal;
}


.active_users{
	width:735px;
	float:right;
	margin-bottom: 9px;
}
.active_user_lbl{
	font-family: HelveticaNHvCn;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: .5px;
	color: #009cb8;
	display:inline_block;
	*zoom:1;
	vertical-align:middle;
	margin-right:35px;
}
.users_dropdow{
	display:inline-block;
	*zoom:1;
	vertical-align:middle;
	width:215px;
	height:43px;
	border:1px solid #bebebe;
	background-color:#086e80;
	position:relative;
	margin-left: 4px;
}
.users_dropdow .user_lbl{
	display:block;
	width:100%;
	height:100%;
	position: relative;
	color: #fff;
	font-size: 15px;
	font-family: helveticaL-CND;
	padding-left: 10px;
	padding-top: 11px;
	text-transform:uppercase;
	text-decoration:none;
	cursor:pointer;
}

.users_dropdow .user_lbl b{
	position:absolute;
	right:0;
	top:0;
	width:40px;
	height:100%;
	background:url(images/list_action-arrow.png) no-repeat center center #085461;
	border-left:1px solid #bebebe;
}

.users_dropdow .user_lbl + ul{
	display:none;
	background:#086e80;
	border-top:1px solid #bebebe;
	list-style-type: none;
	padding:0;
	width: 100%;
	top: 41px;
	left: 0;
}

.users_dropdow .user_lbl.active + ul{
	display:block;
}
.users_dropdow .user_lbl + ul li a{
	color: #fff;
	font-size: 15px;
	font-family: helveticaL-CND;
	display:block;
	padding:8px 13px;
	text-transform:uppercase;
	text-decoration:none;
}

.generatedTextBlock{
	border-bottom: 1px solid #dcdcdc;
	padding: 10px;
}

.jcrop-tracker{
	cursor: move !important;
}
