<appcache-updated></appcache-updated>
<div document-methodes="">
  <!-- <a href="javascript:(function(){window.location.href='https://localhost:3000/#/workspace?pdfUrl='+document.URL;})();" class='grey_btn normal_padding'>BOOKMARKLET LINK</a> -->
  <div class="head_section">
    
    <!-- <div class="col-md-4 text-center"> <span translate>Mes profils  :</span>  <span class="label label-primary">{{listeProfils.length}}</span></div> -->
    <input type="text" class="serach_field pull-left" ng-model="query" placeholder="Recherche un document ..." />
    <button ng-show='onlineStatus' type="button" class="grey_btn pull-right add_document" data-toggle="modal" data-target="#addDocumentModal" ng-click="" translate>Ajouter un Document</button>
  </div>
  <div class="alert alert-info" id="okEmail" ng-show="envoiMailOk">
    <a href="#" class="alert-link">Email envoyé avec succès !</a>
  </div>
  <table class="" style='display: none' id='listDocumentPage'>
    <thead>
      <tr>
        <th class="">TITRE</th>
        <th class="">Date derniere modification</th>
        <th class="action_zone">action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="document in listDocument | filter : query">
        <!--  <td><img width="50" height="30" ng-src="data:image/jpg;base64, {{listeProfil.photo}}" ></td> -->
        <td class="profil_desc">{{ document.nomAffichage }}</td>
        <td class="profil_desc centering">{{ document.dateFromate }}</td>
        <td class="action_area centering">
          <button type="button" class="action_btn" action-profil="" data-show="{{document.rev}}" data-shown="false">&nbsp;</button>
          <ul class="action_list" data-show="{{document.rev}}">
            <li class="show_item"><a href="{{document.lienApercu}}" ng-click='afficherDocument()' title="" >Afficher</a></li>
            <li ng-show='onlineStatus' class="setting_documentTitle"><a href=""  data-toggle="modal" data-target="#EditTitreModal"  ng-click="openModifieTitre(document)">Modifier le titre</a></li>
            <!--             <li class="duplicating_item"><a href="" title="" >Restructurer</a></li> -->
            <li ng-show='onlineStatus' class="restructer_item"><a href="" ng-click="restructurerDocument(document)">Restructurer</a></li>
            <li ng-show='onlineStatus' class="share_item"><a href="" data-toggle="modal" data-target="#shareModal" title="Partager le document" ng-click="docPartage(document)" >Partager</a></li>
            <li ng-show='onlineStatus' class="removing_item"><a href="" ng-click="open(document)" data-toggle="modal" data-target="#myModal" title="" >Supprimer</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Confirmer la suppression</h4>
          <div class="info_txt">
            <p class="text_left ajustPadding_bottom" translate>Le document choisi va être définitivement supprimé de votre compte Dropbox. Confirmez-vous cette suppression?
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <div class="centering" id="ProfileButtons">
            <button type="button" class="reset_btn" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn_simple light_blue" ng-click='suprimeDocument()'>Je confirme</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="clearSocialShare()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Partager ce document</h4>
      </div>
      <div class="modal-body">
        <h2><span>Sélectionner un moyen pour partager ce document</span></h2>
        <div class="alert alert-danger" id="erreurEmail" style="display:none;">
          <a href="#" class="alert-link">Email incorrect !</a>
        </div>
        <div class="alert alert-info" id="okEmail" style="display:none;">
          <a href="#" class="alert-link">Email envoyé avec succès !</a>
        </div>
        <p class="centering share_btn_container">
        <button type="button" class="share_btn mail_share" ng-click="loadMail()">&nbsp;</button>
        <a class="share_link" href="https://www.facebook.com/sharer/sharer.php?u={{encodeURI}}&t=CnedAdapt"
        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
        target="_blank" title="Partager sur Facebook">
        <button type="button" class="share_btn fb_share" ng-click="socialShare()">&nbsp;</button>
        </a>
        <a class="share_link" href="https://twitter.com/share?url={{encodeURI}}&via=CnedAdapt&text=Lien CnedAdapt"
        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
        target="_blank" title="Partager sur Twitter">
        <button type="button" class="share_btn twitter_share" ng-click="socialShare()">&nbsp;</button>
        </a>
        <a class="share_link" href="https://plus.google.com/share?url={{encodeURI}}"
        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=480');return false;"
        target="_blank" title="Share on Google+">
        <button type="button" class="share_btn gplus_share" ng-click="socialShare()">&nbsp;</button>
        </a>
        </p>
        <div class="control_group" ng-show="displayDestination">
          <h2>adresse email <br><span>Saisissez l’adresse email du destinetaire</span></h2>
          <p class="mail_area">
          <label for="destinataire" class="email" id="label_email_etap-one">Email</label>
          <input type="email" class="" ng-model="destinataire" id="destinataire" placeholder="">
          </p>
        </div>
        
        <div class="centering" id="ProfileButtons">
          <button type="button" class="reset_btn" ng-click="clearSocialShare()" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn_simple light_blue" ng-click="socialShare()" ng-show="displayDestination">Partager</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="EditTitreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog" id="modalContent">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ENTRER LE NOUVEAU TITRE</h4>
      </div>
      <div class="modal-body">
        <form class="globalFieldStyle" role="form">
          <fieldset>
            <!-- <p class="control_group">
            <label for="inputEmail3" class="control-label">Ancien Titre :</label>
            <span for="inputEmail3" class="control-label">{{oldName}}</span>
            </p> -->
            <p class="control_group clearfix" >
            <label for="inputEmail3" class="control-label without_icn">Nouveau Titre : </label>
            <input type="text" ng-model='nouveauTitre' id="inputEmail3" placeholder="Entrer un nouveau titre">
            <p ng-show='afficheErreurModifier' class="alert alert-info animated fadeInRight">Ce nom existe déjà dans votre DropBox, voulez-vous écraser le fichier existant</p>
            <p ng-show='videModifier' class="alert alert-info animated fadeInRight">Ce champ et obligatoire. Veuillez le remplir.</p>
            <p ng-show='specialCaracterModifier' class="alert alert-info animated fadeInRight">Veuillez ne pas utiliser les caractères spéciaux.</p>
            </p>
          </fieldset>
          <div class="centering" id="ProfileButtons">
            <button type="button" class="reset_btn" data-dismiss="modal">Annuler</button>
            <button ng-hide='afficheErreurModifier' type="button" class="btn_simple light_blue" ng-click='modifieTitre()'>Enregistrer sur ma Dropbox</button>
            <button ng-show='afficheErreurModifier' type="button" class="btn_simple light_blueanimated fadeInRight" ng-click='modifieTitreConfirme()'>Je confirmer l'operation</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="addDocumentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
<div class="modal-dialog" id="modalContent">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Ajouter un document</h4>
    </div>
    <div ng-show="errorMsg" class="alert alert-danger">
      {{errorMsg}}
    </div>
    <div class="modal-body adjust-modal-body">
      <div class="row-fluid span6">
        <div class="tab-content">
          <div class="tab-pane active" id="document" ng-form="AjoutformValidation" >
            <form class="form-horizontal" role="form" id="addDocument" name="addDocument">
              <fieldset>
                <p class="controls_zone">
                <label for="docTitre" class=""><span>Titre</span> <span class="required">*</span></label>
                <input type="text" max-length="32" class="" id="docTitre" placeholder="Entrez le titre du document" ng-model="doc.titre" required>
                <span>Veuillez ne pas utiliser les caractères spéciaux.</span>
                </p>
                <p class="controls_zone">
                  <label for="doclienPdf" class=""><span>Lien :</span> </label>
                  <input type="text" class="" id="doclienPdf" placeholder="Entrez le lien de votre fichier PDF" ng-model="doc.lienPdf" required>
                </p>
                <p class="controls_zone">
                  OU
                  
                  <br/>

                  <label for="docUploadPdf" class="long_label">Chargez un fichier depuis votre poste local :</label>
                  <input type="file" ng-model-instant id="docUploadPdf" multiple onchange="angular.element(this).scope().setFiles(this)" class='btn btn-default' />
                  <a href="" ng-click="clearUploadPdf()"><span class="glyphicon glyphicon-remove"></span></a>
                </p>
              </fieldset>
              <div class="centering" id="ProfileButtons">
                <button type="button" class="reset_btn" ng-click="" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn_simple light_blue" ng-click="ajouterDocument()">Ajouter</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
<div class="modal-dialog" id="modalContent">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Confirmation d'envoi</h4>
    </div>
    <div class="modal-body adjust-modal-body">
      <div class="info_txt">
        <p class="text_left ajustPadding_bottom">
          Voulez-vous envoyer cet email ?
        </p>
      </div>
    </div>
    <div class="centering" id="confirmationButtons">
      <button type="button" ng-click='dismissConfirm()' class="reset_btn" ng-click="" data-dismiss="modal">Annuler</button>
      <button type="button" class="btn_simple light_blue" ng-click='sendMail()'>Envoyer</button>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
<div class="loader" ng-show="loader"></div></div>
</div>
