<div class="modal-header">
    <button type="button" data-ng-click="dismissModal()" class="close" aria-hidden="true">&times;</button>
    <h3 class="modal-title light_bluehead">Changer le mot de passe</h3>
</div>
<div class="modal-body" class="confirmation_pw">
    <div class="alert-block alert-danger alert-dismissable" id="edit-password-error-toaster">
        <i class="fa fa-times" aria-hidden="true"></i>

        <strong regle-style="toasterMsg"
                apply-rules="forceToasterApdapt"
                tags="listTagsByProfilToaster">
        </strong>
    </div>


    <div class="tab-content">
        <div class="tab-pane active" data-ng-form="AjoutformValidation">
            <form name="passwordForm" id="passwordForm" class="form_container">
                <fieldset class="globalFieldStyle">
                    <p class="control_group">
                        <label for="oldpassword" class="label_keys-icn">Ancien mot de
                            passe</label>
                        <input type="password" name="oldPassword" id="oldpassword"
                               placeholder="Ancien mot de passe"
                               data-ng-model="compte.oldPassword" required>
                    </p>
                    <p class="control_group">
                        <label for="newPassword" class="label_keys-icn">Nouveau mot de
                            passe</label>
                        <input type="password" name="newPassword" id="newPassword"
                               placeholder="Nouveau mot de passe"
                               data-ng-model="compte.newPassword" required>
                    </p>
                    <p class="control_group">
                        <label for="reNewPassword" class="label_keys-icn">
                            Resaisir le nouveau mot de passe</label>
                        <input type="password" name="reNewPassword" id="reNewPassword"
                               placeholder="Resaisir le nouveau mot de passe"
                               data-ng-model="compte.reNewPassword" required>
                    </p>
                </fieldset>
                <p class="centering">
                    <button data-dismiss="modal" data-ng-click="dismissModal()"
                            class="reset_btn" type="button" title="Annuler">Annuler
                    </button>
                    <button type="button" class="btn_simple light_blue"
                            data-ng-click="modifierPassword()" title="Modifier">Modifier
                    </button>
                </p>
            </form>
        </div>
    </div>
</div>
