<!-- Header -->
<!-- End Header -->


<div data-ng-init='initial()' document-methodes="">
	<br>
	<br>

	<span style="float:right"><b>Bienvenue {{admin.local.nom }} !</b> </span>
	<br>


	<br>
	<span class="label label-primary">{{listeProfils.length}}</span>
	<div class="row">
	  <div class="col-md-4 text-center"> <span>Mes comptes  :</span>  <span class="label label-primary">{{comptes.length}}</span></div>
	  <div class="col-md-4">
	    <div class="input-group">
	      <input type="text" class="form-control input-sm" ng-model="query">
	      <span class="input-group-addon">
	      <span class="glyphicon glyphicon-search"></span>
	      </span>
	    </div>
	  </div>
	  <div class="col-md-4 text-center">
	  
	  </div>
	</div>
	<br>
	<table class="table table-hover table-bordered table-condensed">
  		<thead>
    		<tr>
      			<th ng-repeat="header in headers" class="centering">{{header}}</th>
    		</tr>
  		</thead>
  		<tbody>
  			
    		<tr ng-repeat="compte in comptes | filter : query">
       		<td>{{ compte.local.nom }}</td>
     		<td>{{ compte.local.prenom }}</td>
     		<td>{{ compte.local.email }}</td>
			<td style="width:150px; text-align:center"><button type="button" class="delete_layer" data-toggle="modal" data-target="#myModal" ng-click="preSupprimer(compte)"></button></td>   
			</tr>

 		</tbody>
	</table>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Suppression</h4>
      </div>
      <div class="modal-body">
        Le compte sélectionné va être définitivement supprimé du système. Confirmez-vous cette suppression?
      </div>
      <br/>
      <p class="centering">
        <button type="button" class="reset_btn ng-scope" data-dismiss="modal">Annuler</button>
        <button type="button" class="grey_btn normal_padding editionProfil ng-scope" ng-click="deleteAccount()" data-dismiss="modal">Confirmer suppression</button>
      </p>
    </div>
  </div>
</div>



<div class="loader" ng-show="loader"></div>