<div class="doc-apercu" body-classes="" document-methodes="">

<div class="modal fade" id="duplicateDocModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog" id="modalContent">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Dupliquer le document</h4>
      </div>
      <div class="alert alert-success" ng-show="showMsgSuccess">{{msgSuccess}}</div>
      <div class="alert alert-danger" ng-show="showMsgError">{{msgErrorModal}}</div>
      <div class="modal-body adjust-modal-body">
        <div class="row-fluid span6">
          <div class="tab-content">
            <div class="tab-pane active" id="document" ng-form="AjoutformValidation" >
              <form class="form-horizontal" role="form" id="duplicateDoc" name="duplicateDoc">
                <fieldset>
                  <p class="controls_zone" ng-show="!showMsgSuccess">
                    Vous n'êtes pas le propriétaire de ce document, voulez-vous le dupliquer dans votre Dropbox?
                  </p>
                  <p class="controls_zone" ng-show="!showMsgSuccess">
                    <label for="duplDocTitre" class=""><span>Titre du document</span> <span class="required">*</span></label>
                    <input type="text" max-length="32" class="" id="duplDocTitre" placeholder="Entrez le titre du document" ng-model="duplDocTitre" required>
                  </p>
                </fieldset>
                <div class="centering" id="ProfileButtons" ng-show="!showMsgSuccess">
                  <button type="button" class="reset_btn" ng-click="" data-dismiss="modal">Annuler</button>
                  <button type="button" class="grey_btn normal_padding" ng-click="dupliquerDocument()">Oui</button>
                </div>
                <div class="centering" id="ProfileButtons" ng-show="showMsgSuccess">
                  <button type="button" class="reset_btn" ng-click="" data-dismiss="modal">Ok</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Partager ce document</h4>
      </div>

      <div class="modal-body">
        <h2><span>Sélectionner un moyen pour partager ce document</span></h2>

        <form class="form-horizontal" role="form" id="socialShare1" name="socialShare1">
        <p class="centering share_btn_container">
          <button ng-show="showEmail" type="button" class="share_btn mail_share" ng-click="loadMail()">&nbsp;</button>

          <a class="share_link" href="https://www.facebook.com/sharer/sharer.php?u={{encodeURI}}&t=CnedAdapt"
          onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
          target="_blank" title="Partager sur Facebook">
            <button type="button" class="share_btn fb_share">&nbsp;</button>
          </a>

          <a class="share_link" href="https://twitter.com/share?url={{encodeURI}}&via=CnedAdapt&text=Lien CnedAdapt"
          onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
          target="_blank" title="Partager sur Twitter">
            <button type="button" class="share_btn twitter_share">&nbsp;</button>
          </a>

          <a class="share_link" href="https://plus.google.com/share?url={{encodeURI}}"
          onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=480');return false;"
          target="_blank" title="Share on Google+">
            <button type="button" class="share_btn gplus_share" >&nbsp;</button>
          </a>

        </p>

        <div class="control_group" ng-show="showDestination">
        <div class="alert alert-success" ng-show="emailMsgSuccess">{{emailMsgSuccess}}</div>
        <div class="alert alert-danger" ng-show="emailMsgError">{{emailMsgError}}</div>
          <h2>adresse email <br><span>Saisissez l’adresse email du destinetaire</span></h2>
          <p class="mail_area">
            <label for="destinataire" class="email" id="label_email_etap-one">Email</label>
            <input type="text" class="" ng-model="destinataire" id="destinataire"/>
          </p>

        </div>
          
        <div class="centering" id="ProfileButtons">
          <button type="button" class="reset_btn" data-dismiss="modal">Annuler</button>
          <button type="button" class="grey_btn normal_padding" ng-click="socialShare()">Partager</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
<div class="modal-dialog" id="modalContent">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Confirmation d'envoi</h4>
    </div>
    <div class="modal-body adjust-modal-body">
      Voulez-vous envoyer cet email ?
    </div>
    <div class="centering" id="confirmationButtons">
      <button type="button" ng-click='dismissConfirm()' class="reset_btn" ng-click="" data-dismiss="modal">Annuler</button>
      <button type="button" class="grey_btn normal_padding" ng-click='sendMail()'>Envoyer</button>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

  <div class="plan-controls">
      <!-- <a ng-click="showApercu = false" href>
        <i class="fa fa-arrow-circle-left"/> Revenir au Plan
      </a>|  -->
      <a href="" ng-click="printDocument()">
        <i class="fa fa-print"/> Imprimer le document
      </a>
  </div>

  <div ng-repeat="blocks in blocksPlan" >
    <div ng-repeat="block in blocks" class="slides-botstraps">
        <p data-id="{{block.id}}" regle-style="block.text" style="width:650px;text-align:left;margin:0;"></p>
    </div>
  </div>

  <div>
    <carousel interval="myInterval" class="slider">
      <div class="fixed_menu">
        <div class="menu_wrapper">
          <button ng-click="afficherMenu()" type="button" class="open_menu">Navigation documents</button>
          <ul>
            <li>
                <a href class="plan" ng-click="plan()"> Plan </a>
            </li>
            <li>
                <a href class="forward" ng-click="suivant()"> Suivant </a>
            </li>
            <li>
                <a href class="backward" ng-click="precedent()"> Précedent </a>
            </li>
            <li>
                <a href class="fast-forward" ng-click="dernier()"> Dernier </a>
            </li>
            <li>
                <a href class="fast-backward" ng-click="premier()"> Premier </a>
            </li>
            <li class="devider">
            </li>
            <li ng-show="showDuplDocModal">
                <a href class="upload copy" data-toggle="modal" data-target="#duplicateDocModal"> Copier </a>
            </li>
            <li ng-show="showRestDocModal">
                <a href class="edit" ng-click="restructurer()"> Restructurer </a>
            </li>
            <li>
                <a href class="share_apercu" data-target="#shareModal"> partager </a>
            </li>
            <li>
                <a href class="print_apercu" ng-click="printDocument()"> imprimer </a>
            </li>
          </ul>
        </div>
      </div>

      <slide ng-repeat="blocks in blocksPlan" class="slides-botstraps" active="blocks.active">
        <div ng-switch on="$index">
            <div id="plan" style="min-height:500px; text-align:left; margin-left: 100px" ng-switch-when="0">
              <h2>Plan</h2>
              <ul class="plan">
                  <li ng-repeat="plan in plans">
                    <a class="level level{{plan.numTitre}}" ng-click="setActive(plan.position, plan.block)" regle-style="plan.style" style="display:block" href> {{plan.libelle}} </a>
                  </li>
              </ul>
            </div>
            <div ng-switch-default>
              <div ng-repeat="slide in blocks" ng-show="slide.leaf || slide.root">
                <img ng-show="(slide.leaf && !slide.text) || (slide.root && slide.children.length<=0 && !slide.text)" ng-src="{{slide.originalSource || slide.source}}" style="margin:auto;">
                <div id="{{slide.id}}" class="carousel-caption">
                  <div class="text-slides" data-id="{{slide.id}}"></div>
                  <div class="audio-player" ng-show="slide.synthese">
                    <button ng-click="playSong(slide.synthese)">Ecoutez</button>
                    <button ng-show="slide.synthese" ng-click="pauseAudio()">Arrêter</button>
                  </div>
                  <!-- <audio data-ng-init="initPlayerAudio()" preload="auto">
                    <source type="audio/mp3" ng-src="{{slide.synthese}}"></source>
                  </audio> -->
                </div>
              </div>    
            </div>
        </div>
      </slide>
      <!-- <audio id="player" src="" data-ng-init="initPlayerAudio()" preload="auto"></audio> -->
      <audio id="player" src="" preload="auto"></audio>
    </carousel>
  </div>
</div>

<div class="loader" ng-show="loader"></div>