<!-- Header -->
	<div ng:include="'/views/common/header.html'"></div>
<!-- End Header -->

<div class="row marketing">

	<div class="upload-file">
		<form enctype="multipart/form-data">
			<label for="fileToUpload">Ajouter un document</label><br />
	        <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)"  />
	        <input type="button" ng-click="uploadFile()" value="Ajouter" id='add-img'/>	
		</form>
	</div>

	<div style="float:left;min-width: 800px;">
		<div class="bar-btns">
			<button ng-click='sendCrop(currentImage.source)'>Découper</button>
		</div>
		<div class="images-container" ng-show="!showEditor">
			<div class="zones" ng-repeat="zone in zones">
				<div style="width:{{zone.w}}px;height:{{zone.h}}px;top:{{zone.y}}px;left:{{zone.x}}px;"></div>
			</div>
			<img-cropped src='{{currentImage.source}}' selected='selected(cords)' />
		</div>

		<div ng-show="showEditor" class="text-oceriser">
			<img ng-src='{{textes.source}}' />
			<textarea ck-editor ng-model="textes.text"></textarea>
			<button ng-click="getOcrText()">Enregistrer</button>
			<i class="fa fa-volume-up"/> <a ng-click="textToSpeech()" href>Synthèse vocale</a>
		</div>
		
	</div>

	<div class="tree-images" style="float:left;">
		<h3>Espace de travail</h3>
		<div class="cropped_images" ng-repeat="image in blocks">
			<div class="element level-{{image.level}}">
				<div class="controles">
					<button ng-click="oceriser(image.source)" >T</button>
				</div>
				<img ng-src="{{image.source}}" ng-click="workspace(image)" style="max-width:200px;height:auto;">	
			</div>
		</div>
	</div>

	<div class="actions">
		<button ng-click="saveblocks()">Enregistrer le document</button>
		<button ng-click="showlocks()">Previsualiser le document</button>
	</div>
</div>

<!-- Footer -->
	<div ng:include="'/views/common/footer.html'"></div>
<!-- End Footer -->
<div class="loader" ng-show="loader"></div>