<!-- Header -->
<!-- End Header -->

<div class="jumbotron">
	<h1>Text to speech comparison :</h1>
	<p>A small comparison between Festival 2.1 and Espeak 1.45</p>

	<textarea rows="4" cols="70" ng-model="editeur.InitialValue">
		
	</textarea> 
	<br>
	<br>
	<button type="button" class="btn btn-success" ng-click="espeakTextToSpeech()">Espeak</button>
	<button type="button" class="btn btn-warning" ng-click="festivalTextToSpeech()" >Festival</button>
</div>

<div class="row marketing">
	
</div>

<!-- Footer -->
<!-- End Footer -->