
<div class="jumbotron">
	<h1>Text to speech comparison :</h1>
	<p>A small comparison between Festival 2.1 and Espeak 1.45</p>
			<br>
			<div class="col-md-4">
			<a ng-href="../../../files/audioTest/mp3/audio_festival.mp3"><i class="fa fa-download"/> Festival  </a> <br>			</div>
			<div class="col-md-4">
			<a ng-href="../../../files/audioTest/mp3/audio_espeak.mp3"><i class="fa fa-download"/> Espeak  </a> <br> </div>
			<div class="col-md-4">
			<a ng-href="../../../files/audioTest/mp3/audio_mbrola.mp3"><i class="fa fa-download"/> Espeak + MBROLA </a> <br> </div>
</div>

<div class="row marketing">
	
</div>

<!-- Footer -->
<!-- End Footer