<!-- Header -->
<div ng:include="'/views/common/header.html'"></div>
<!-- End Header -->
<div  data-ng-controller='passportCtrl' data-ng-init='init()'>
	
	
	<div ng-show='!guest'>
		<div ng-show="!showlogin" id="loginbox" style="margin-top:50px;" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-1 animated fadeInDown">
			<div ng-show='inscriptionStep1' class='animated fadeInRight'>
				<div style="font-size: 100%;margin-bottom: 10px;margin-left: 500px;" ><a href='' ng-click='goNext()'>J'ai deja un compte</a></div>
				<div class="panel panel-info" >
					<div class="panel-heading">
						<div class="panel-title">Crée un compte</div>
					</div>
					<div style="padding-top:30px" class="panel-body" >
						<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
						
						<form id="loginform" class="form-horizontal" role="form">
							
							<div ng-show="erreurSigninNom" class="alert alert-danger animated fadeInDown">Lettres, chiffres et espace , pas de caractères spéciaux longeur 3 a 20 caractères.</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"style='width: 175px'>Nom :</span>
								<input ng-model="nomSign" type="text" class="form-control" placeholder="nom" style='width: 450px'>
							</div>
							<div ng-show="erreurSigninPrenom" class="alert alert-danger animated fadeInDown">Lettres, chiffres et espace , pas de caractères spéciaux longeur 3 a 20 caractères.</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon" style='width: 175px'>Prenom :</span>
								<input ng-model="prenomSign" type="text" class="form-control" placeholder="prénom" style='width: 450px'>
							</div>
							
							<div ng-show="erreurSigninEmail" class="alert alert-danger animated fadeInDown">votre email n'est pas valide example 'example-example@example.com'</div>
							<div ng-show="erreurSigninEmailNonDisponible" class="alert alert-warning animated fadeInDown">l'email que vous avez choisi est deja pris.</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon" style='width: 175px'>E-mail :</span>
								<input ng-model="emailSign" type="text" class="form-control" placeholder="email" style='width: 450px'>
							</div>
							
							<div ng-show="erreurSigninPasse" class="alert alert-danger animated fadeInDown">Le mot de passe prend en charge les caractères spéciaux, longueur min 6 max 20 lettres.</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon" style='width: 175px'>Mot de passe :</span>
								<input ng-model="passwordSign" type="password" class="form-control" placeholder="mot de passe" style='width: 450px'>
							</div>
							
							<div ng-show="erreurSigninConfirmationPasse" class="alert alert-danger animated fadeInDown">Veuillez confirmaer votre mot de passe.</div>
							
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon" style='width: 160px'>Confirmer le passe :</span>
								<input ng-model="passwordConfirmationSign" type="password" class="form-control" placeholder="confirmation du mot de passe" style='width: 450px'>
							</div>
							
							<div style="margin-top:10px" class="form-group">
								<!-- Button -->
								<div class="col-sm-12 controls">
									<a ng-click='signin()' class="btn btn-success">Crée un compte</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div ng-show='inscriptionStep2' class='animated fadeInRight'>
				
				<div class="col-xs-12 col-sm-6 col-lg-12">
					<div class="box">
						<div class="icon">
							<div ><img src="/styles/images/Dropbox-icon.png"></div>
							<div class="info" ng-show='showStep2part1'>
								<h3 class="title"> Associer votre compte DropbBox</h3>
								
								<p>
								Kamel-Leon vous permet de gérer vos documents adaptés stockés dans votre compte Dropbox. Pour cela l'application K&L va créer un dossier dans votre espace DropBox où seront stockés vos documents structurés. Vous devrez, ainsi, disposer d'un un compte sur DropBox et autoriser l'application K&L à y accepter.
								Dropbox vous demandera d'autoriser l'application K&L, vous devez cliquer sur "accepter"/"autoriser". Si vous ne disposez pas d'un compte Dropbox, vous allez être redirigé pour le créer en premier lieu.
								</p>
								<div class="more">
									<a href="/auth/dropbox" class="btn btn-success"  style='color: white'>Suivant</a>
								</div>
							</div>
						</div>
						<div class="space"></div>
					</div>
				</div>
			</div>
			
			<div class="stepwizard">
				<div class="stepwizard-row">
					<div class="stepwizard-step">
						<button id='step1' type="button" disabled="disabled" class="{{step1}} ">1</button>
						<p>Inscription</p>
					</div>
					<div class="stepwizard-step">
						<button id='step2' type="button" disabled="disabled" class="{{step2}}">2</button>
						<p>Compte DropBox</p>
					</div>
					<div class="stepwizard-step">
						<button id='step3' type="button" disabled="disabled" class="{{step3}}">3</button>
						<p>Ajouter Bookmarklet</p>
					</div>
					<div class="stepwizard-step">
						<button id='step4' type="button" disabled="disabled" class="{{step4}}">4</button>
						<p>Configurer profils</p>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="showlogin" id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 animated fadeInUp">
			<div style="font-size: 100%;margin-bottom: 10px;margin-left: 360px;" ><a href='' ng-click='goNext()'>Créer un compte</a></div>
			<div class="panel panel-info" >
				<div class="panel-heading">
					<div class="panel-title">Se connecter</div>
				</div>
				<div style="padding-top:30px" class="panel-body" >
					<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
					
					<form id="loginform" class="form-horizontal" role="form">
						
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon" style='width: 120px'>E-mail :</span>
							<input ng-model="emailLogin" type="text" class="form-control" placeholder="votre email" style='width: 320px'>
						</div>
						
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon">Mot de passe :</span>
							<input ng-model="passwordLogin" type="password" class="form-control" placeholder="votre mot de passe">
						</div>
						<div ng-show="erreurLogin" class="alert alert-danger animated fadeInDown">L'e-mail ou le mot de passe saisi est incorrect.</div>
						<div style="margin-top:10px" class="form-group">
							<!-- Button -->
							<div class="col-sm-12 controls">
								<a ng-click='login()' class="btn btn-success">Se connecter</a>
							<a style='margin-left: 200px' href=''>Mot de passe oublie</a>
							</div>

						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
	<div  ng-show='showpart2'>
		<div class='animated fadeInRight'>
			<div class="col-xs-12 col-sm-6 col-lg-12">
				<div class="box">
					<div class="icon">
						<div ><img src="/styles/images/Dropbox-icon.png"></div>
						<div class="info" ng-show='showStep2part1'>
							<h3 class="title"> Associer votre compte DropbBox</h3>
							
							<p>
							Kamel-Leon vous permet de gérer vos documents adaptés stockés dans votre compte Dropbox. Pour cela l'application K&L va créer un dossier dans votre espace DropBox où seront stockés vos documents structurés. Vous devrez, ainsi, disposer d'un un compte sur DropBox et autoriser l'application K&L à y accepter.
							Dropbox vous demandera d'autoriser l'application K&L, vous devez cliquer sur "accepter"/"autoriser". Si vous ne disposez pas d'un compte Dropbox, vous allez être redirigé pour le créer en premier lieu.
							</p>
							<div class="more">
								<a href="/auth/dropbox" class="btn btn-success"  style='color: white'>Suivant</a>
							</div>
						</div>
					</div>
					<div class="space"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Bienvenue :</h4>
				</div>
				<div class="modal-body">
					votre compte Kamel-Leon a bien été créé. Vous pouvez l'utiliser pour accéder a l'application Kamel & Leon mais il est necessaire d'associer ce compte à votre compte DropBox dans l'etape suivante.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row marketing">
		<!-- <h4>HTML5 Boilerplate</h4>
		<p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
		<h4>Angular</h4>
		<p>AngularJS is a toolset for building the framework most suited to your application development.</p>
		<h4>Karma</h4>
		<p>Spectacular Test Runner for JavaScript.</p> -->
	</div>
	<!-- Footer -->
	<div ng:include="'/views/common/footer.html'"></div>
	<!-- End Footer -->