<!-- Header -->
<!-- End Header -->
<div data-ng-init='initial()' document-methodes="">
  <div class="erreur_container">
  	<div class="visu_opps erreur_page">
  		<img src="styles/images/oopps.png" alt="" /> <br>
  		<p>Le propriétaire du document doit effectuer une mise à jour, pour que vous puissiez consulter une version plus stable du document</p> <br>
  		<span>revenir vers la page d’accueil</span> <br>
  		<a href="#" class="btn_simple light_blue" title="Page accueil">Page accueil</a>
  	</div>
  </div>

</div>