<div class="modal-header">
    <button type="button" class="close" data-ng-click="dismissModal()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">WEB ADAPTE</h3>
</div>
<div class="modal-body">
    <div class="box">
        <div>
            <div class="info_txt">
                <p class="text_left">
                    Glissez le bouton Accessidys sur la barre de favoris de votre navigateur (située en haut de l’écran). Il vous permettra l’affichage adapté de vos documents web
                </p>
                <div class="drag_btn">
                    <div class="bookmarklet_contaioner">
                        <p class="bookmarklet_btn">
                            <a href="javascript:(function(){window.location.href={{userDropBoxLink}}})();"
                               class="grey_btn normal_padding normal_case">Accessidys</a>
                        </p>
                        <p>
                            <img src="/styles/images/bookmarklet_howto.png" alt=""/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>