<div ng-controller="CommonCtrl" class="header">
	<ul class="nav nav-pills pull-right">
		<li ng-class="{active:isActive('/')}"><a href="#">Home</a></li>
		<li ng-class="{active:isActive('/workspace')}"><a href="/#/workspace">Decoupe images</a></li>
		<li ng-class="{active:isActive('/tag')}"><a href="/#/tag">Tag</a></li>
		<li ng-class="{active:isActive('/profiles')}"><a href="/#/profiles">Profiles</a></li>
	</ul>
	<h5 class="text-muted">
		<img src="/styles/images/header_logoCned.png">
	</h5>
</div>